{#
/**
 * @file
 * Theme override to display a taxonomy term.
 *
 * Available variables:
 * - url: URL of the current term.
 * - name: Name of the current term.
 * - content: Items for the content of the term (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - term: The taxonomy term entity, including:
 *   - id: The ID of the taxonomy term.
 *   - bundle: Machine name of the current vocabulary.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_taxonomy_term()
 */
#}
<div class="category-detail">
    <div class="term-content">
        <div class="category-content">
            {{ drupal_breadcrumb() }}
            <h1>{{ name.0 }}</h1>
            {{ content|without('field_image', 'field_show_cta') }}
            <a href="/assortiment" class="button">Terug naar overzicht</a>
        </div>
        <div class="category-image">
            {{ content.field_image.0 }}
        </div>
    </div>

    {% if term.field_show_cta.value == '1' %}
        <div class="clean-call-to-action">
            <div class="cta-inner">
                <div class="field-wrapper field field-node--field-call-to-action-paragraph field-name-field-call-to-action-paragraph field-type-entity-reference-revisions field-label-hidden">
                    <div class="field-items">
                        <div class="field-item">
                            <div class="paragraph paragraph--type--link paragraph--view-mode--default">
                                <div class="field-wrapper field field-paragraph--field-label-long field-name-field-label-long field-type-string-long field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item">Ontdek de <span class="term-name">{{ name.0 }}</span> in de webshop!</div>
                                    </div>
                                </div>
                                <div class="field-wrapper text-content field field-paragraph--field-link field-name-field-link field-type-link field-label-hidden">
                                    <div class="field-items">
                                        <div class="field-item"><a href="/webshop?f%5B0%5D=categorie%3A{{ term.id }}">Bekijk de webshop</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-element brokkelkaas"></div>
                <div class="bg-element hesp"></div>
                <div class="bg-element brie"></div>
                <div class="bg-element vijg"></div>
            </div>
        </div>
    {% endif %}
</div>
