.right-off-canvas-menu{
  padding-top:65px;
  padding-left:20px;
  ul.menu{
    li{
      a{
        text-transform: lowercase;
      }
      &:first-of-type{
        a{
          font-weight:$global-weight-bold;
          display: inline-block;
          background: $primary-color;
          color: #fff;
          &:hover,
          &:focus{
            background: #000;
          }
        }
      }
    }
  }
}
