#footer-wrapper{
  padding:70px 0 50px;
  background-color: rgba(7,51,93,0.3);
  padding-top: 80px;
  padding-bottom: 35px;
  position: relative;
  &::after{
    content: '';
    height: 100%;
    max-height: 565px;
    width: 100%;
    max-width: 1600px;
    background-image: url('../images/FRONTBACK.png');
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    top: auto;
    opacity: 0.7;
    bottom: 85%;
    @include breakpoint(medium){
      min-width: 1100px;
      bottom: 100%;
      min-height: 600px;
    }
    @include breakpoint(large){
      transform: rotate(180deg);
      background-position-y: 130%;

    }
    @include breakpoint(xxlarge){
      background-size: cover;
      max-width: 2150px;
      //width: 2150px;
      bottom: 100%;
      background-position-y: 109%;
      //left: 0%;
     // margin-left: -110px;
    }
  }
  #footer{
    max-width:1400px;
    padding:0 30px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 700px){
      flex-direction: row;
      justify-content: space-between;
      .region-footer-first{
        padding:0 30px 0 0;
      }
      .region-footer-last{
        padding:0 0 0 30px;
        text-align: right;
      }
    }
    @media screen and (min-width: 900px){
      .region-footer-first{
        width:40%;
      }
      .region-footer-middle{
        width:20%;
      }
      .region-footer-last{
        width:40%;
      }
    }
  }
}

// Openinghours
.opening-hours,
.block-views-block-contact-details-block-1{
  color: $primary-color;
  margin-bottom:20px;
  .item-list{
    margin-bottom:20px;
    & > ul{
      margin:0;
      & > li{
        list-style: none;
      }
    }
  }
  .paragraph--type--contact-label-field{
    display: flex;
    justify-content: space-between;
    width:250px;
    margin-bottom:0px;
    .field-paragraph--field-label{
      font-weight:$global-weight-bold;
      text-transform: uppercase;
    }
  }
}

// Social media
.social-media,
.block-social{
  margin-bottom:30px;
  ul.linkicon{
    display: flex;
    justify-content: center;
    & > li{
      margin-right:12px;
      a.linkicon__item{
        display: block;
        width:30px;
        height:30px;
        color: #fff;
        background: $primary-color;
        border-radius: 30px;
        text-align: center;
        line-height: 30px;
        transition: all 0.2s;
        &:hover{
          background: #000;
        }
      }
    }
    @include breakpoint(medium){
      justify-content: flex-start;
    }
  }
}

// Logo
.block-sitebranding-footer{
  margin-bottom:25px;
  text-align: center;
  @media screen and (min-width: 900px) {
    svg{
      width:195px;
      height:124px;
    }
  }
}

// Contact details
.contact-details,
.block-contact-teaser{
  color: $primary-color;
  p{
    margin:0;
    line-height: 1.5;
    a{
      transition: all 0.2s;
      &:hover{
        color: #000;
      }
    }
  }
  .basic-info{
    margin-bottom:15px;
  }
  .company-account-number{
    margin-top:15px;
  }
}

.meta-footer{
  padding:0 30px;
  margin-top:25px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(large){
    margin-top: -20px;
  }
}

// Footer menu
.block-footer{
  ul.menu{
    text-align: center;
    li{
      display: inline-block;
      vertical-align: middle;
      a{
        display: inline-block;
        vertical-align: middle;
        padding:0;
        font-size:11px;
        text-transform: lowercase;
        transition: all 0.2s;
        &:hover,
        &:focus{
          color: #000;
        }
      }
      &:after{
        content: ' - ';
        display: inline-block;
        color: $primary-color;
        font-size:11px;
      }
      &:last-of-type{
        margin-left:3px;
        &:after{
          display: none;
        }
      }
    }
    @media screen and (min-width: 700px){
      margin-bottom:0;
      text-align: left;
    }
  }
}
