.section-user,
.section-checkout{
  .region-content{
    @include grid-row();
  }
}
.region-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & > section{
    width:100%;
  }
}
.call_to_action{
  position: relative;
  color: #fff;
  &:after{
    display: block;
    width:100%;
    height:100%;
    background: rgba(#000, 0.8);
    position: absolute;
    top:0;
    left:0;
    z-index:0;
  }
  & > div{
    @include grid-row();
    @include grid-col-gutter();
    position: relative;
    text-align: center;
    padding-top:50px;
    padding-bottom:50px;
    font-weight:500;
    z-index:1;
    h2{
      margin-bottom:30px;
    }
    .field-name-field-cta-link{
      a{
        display: inline-block;
        font-weight:700;
        text-transform: uppercase;
        color: #fff;
        border-radius: 30px;
        padding:3px 45px;
        position: relative;
        transition: all 0.2s;
        &:after{
          content: '';
          position: absolute;
          right:2px;
          top:2px;
          width:26px;
          height:26px;
          background: $primary-color url('../images/icons/arrow-right-dark.svg')no-repeat center center;
          background-size: 14px;
          border-radius: 30px;
        }
        &:hover,
        &:focus{
          background: #fff;
          color: #000;
        }
      }
    }
  }
  @include breakpoint(medium){
    & > div{
      padding-top:100px;
      padding-bottom:100px;
    }
  }
  @include breakpoint(large){
    & > div{
      padding-top:240px;
      padding-bottom:100px;
    }
  }
}

