{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  <h1>Bedankt voor uw bestelling!</h1>
  <p>Uw bestelnummer is: <strong>{{ order_entity.getOrderNumber }}</strong>. U kan uw bestelling komen afhalen op <strong>{{ order_entity.field_pickup_from.value|date("d/m/Y") }}</strong> tussen <strong>{{ order_entity.field_pickup_from.value|date("H:i") }}</strong> en <strong>{{ order_entity.field_pickup_to.value|date("H:i") }}</strong>. De orderbevestiging werd verstuurd naar uw mailbox.</p>
</div>
