.cart-form{
  margin:0 auto 25px auto;
  max-width:1200px;
  padding:0 30px;
  .item-list{
    & > ul{
      margin:0;
      & > li{
        list-style: none;
        border-bottom:0px solid $primary-color;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom:20px;
        padding-top:20px;
        position: relative;
        &::after{
          content: "";
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='1228px' height='7px' viewBox='0 0 1228 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 59%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.3925 0.470785463 1.745 0.470785463 1.745 8.8041188 0.3925 8.8041188'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='0.378666667 0.967415292 1.745 0.967415292 1.745 9.71741529 0.378666667 9.71741529'%3E%3C/polygon%3E%3Cpolygon id='path-5' points='0.257407075 0.785 1.745 0.785 1.745 9.11833333 0.257407075 9.11833333'%3E%3C/polygon%3E%3Cpolygon id='path-7' points='0.132 0.23275 1.745 0.23275 1.745 11.7565 0.132 11.7565'%3E%3C/polygon%3E%3Cpolygon id='path-9' points='0.333333333 0.298333333 1.44266667 0.298333333 1.44266667 8.63166667 0.333333333 8.63166667'%3E%3C/polygon%3E%3Cpolygon id='path-11' points='0.75 0.400687419 1.406125 0.400687419 1.406125 8.73402075 0.75 8.73402075'%3E%3C/polygon%3E%3Cpolygon id='path-13' points='0.333333333 0.639373361 1.39816667 0.639373361 1.39816667 8.97270669 0.333333333 8.97270669'%3E%3C/polygon%3E%3Cpolygon id='path-15' points='0.333333333 0.2475 1.94933333 0.2475 1.94933333 8.58083333 0.333333333 8.58083333'%3E%3C/polygon%3E%3Cpolygon id='path-17' points='0.333333333 0.598744415 1.82314243 0.598744415 1.82314243 8.93207775 0.333333333 8.93207775'%3E%3C/polygon%3E%3Cpolygon id='path-19' points='0.0847973795 0.73151268 3.8849701 0.73151268 3.8849701 1226 0.0847973795 1226'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Winkelmandje' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-59' transform='translate(614.000000, 3.500000) rotate(-90.000000) translate(-614.000000, -3.500000) translate(611.000000, -610.000000)'%3E%3Cpath d='M3.9825,1032.8925 C3.9905,1032.4235 4.0035,1032.2975 4.0175,1032.2625 C4.0135,1031.8705 4.0105,1031.5065 4.0045,1031.1075 L3.9825,1032.8925 Z' id='Fill-1' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(4.000000, 1153.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M1.18833333,4.7925 C1.18833333,4.8675 1.19,4.92583333 1.19,5.0175 C1.21333333,4.7675 1.235,4.4675 1.26333333,4.40083333 C1.21666667,4.1675 1.21666667,4.1675 1.18833333,4.7925' id='Fill-3' fill='%231D1D1D' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M3.977,1124.6825 C3.991,1124.2065 4.005,1123.7375 4.023,1123.3175 C4.005,1123.3385 3.991,1123.9125 3.977,1124.6825' id='Fill-6' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M4.0365258,1047.152 C3.9945258,1047.551 3.9515258,1048.958 3.9665258,1050.848 C3.9865258,1049.637 4.0125258,1048.419 4.0365258,1047.152' id='Fill-8' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M3.969,1128.834 C3.991,1127.861 4.01,1126.321 4.031,1125.166 C4,1126.279 3.981,1127.518 3.969,1128.834' id='Fill-10' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-14' transform='translate(3.500000, 1207.500000)'%3E%3Cmask id='mask-4' fill='white'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-13'%3E%3C/g%3E%3Cpath d='M1.17533333,6.97925 C1.20366667,6.0605 1.22866667,5.03675 1.24866667,3.93425 C1.232,3.873 1.22033333,3.68925 1.20033333,3.70675 L1.17533333,6.97925 Z' id='Fill-12' fill='%231D1D1D' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M2.047,16.1843971 C2.018,15.7573971 1.987,15.0293971 1.953,13.7063971 C1.972,16.1283971 2.005,16.5343971 2.047,16.1843971' id='Fill-15' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M1.985,79.3334597 C1.997,80.2434597 2.01,80.8664597 2.015,80.6074597 C2.007,80.1524597 1.997,79.7184597 1.985,79.3334597' id='Fill-17' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M2.975,39.277988 C2.995,39.207988 3.011,39.053988 3.025,38.829988 C3.01,38.612988 2.994,38.703988 2.975,39.277988' id='Fill-19' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M4.9775,512.7175 L5.0225,511.2825 C4.9985,511.5275 4.9865,512.0595 4.9775,512.7175' id='Fill-21' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-25' transform='translate(3.500000, 596.500000)'%3E%3Cmask id='mask-6' fill='white'%3E%3Cuse xlink:href='%23path-5'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-24'%3E%3C/g%3E%3Cpath d='M1.09383333,3.98916667 C1.0905,4.8225 1.08383333,5.55583333 1.0905,5.91416667 C1.09383333,5.2475 1.09383333,4.6225 1.09383333,3.98916667' id='Fill-23' fill='%231D1D1D' mask='url(%23mask-6)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-28' transform='translate(3.500000, 1212.500000)'%3E%3Cmask id='mask-8' fill='white'%3E%3Cuse xlink:href='%23path-7'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-27'%3E%3C/g%3E%3Cpath d='M0.755333333,3.3565 C0.885333333,5.72775 0.923666667,11.6165 1.09033333,11.7565 L1.17533333,0.23275 C1.05033333,4.319 0.867,6.419 0.755333333,3.3565' id='Fill-26' fill='%231D1D1D' mask='url(%23mask-8)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-31' transform='translate(1.000000, 315.000000)'%3E%3Cmask id='mask-10' fill='white'%3E%3Cuse xlink:href='%23path-9'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-30'%3E%3C/g%3E%3Cpath d='M0.574333333,1.43583333 C0.584333333,4.99416667 0.609333333,6.78583333 0.644333333,7.6775 C0.622666667,5.5275 0.607666667,3.31916667 0.582666667,1.2525 L0.574333333,1.43583333 Z' id='Fill-29' fill='%231D1D1D' mask='url(%23mask-10)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M2.0045,393.056 C2.0015,392.965 1.9975,392.867 1.9955,392.79 C1.9955,392.937 1.9985,393.056 1.9995,393.21 L2.0045,393.056 Z' id='Fill-32' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-36' transform='translate(0.000000, 305.000000)'%3E%3Cmask id='mask-12' fill='white'%3E%3Cuse xlink:href='%23path-11'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-35'%3E%3C/g%3E%3Cpath d='M0.812375,5.055 C0.792375,4.63833333 0.774875,4.18 0.749875,3.93 C0.753625,5.28833333 0.779875,5.36333333 0.812375,5.055' id='Fill-34' fill='%231D1D1D' mask='url(%23mask-12)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M2.0618457,389.654369 L1.9168457,394.204369 C1.9408457,394.813369 1.9628457,395.436369 1.9908457,396.255369 C2.1018457,397.095369 2.0948457,391.852369 2.0618457,389.654369' id='Fill-37' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-41' transform='translate(1.000000, 306.000000)'%3E%3Cmask id='mask-14' fill='white'%3E%3Cuse xlink:href='%23path-13'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-40'%3E%3C/g%3E%3Cpath d='M0.4165,2.38833333 C0.5015,3.805 0.549833333,5.98833333 0.583166667,8.58 L0.713166667,5.63833333 C0.704833333,-1.57833333 0.524833333,1.655 0.4165,2.38833333' id='Fill-39' fill='%231D1D1D' mask='url(%23mask-14)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-44' transform='translate(1.000000, 258.000000)'%3E%3Cmask id='mask-16' fill='white'%3E%3Cuse xlink:href='%23path-15'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-43'%3E%3C/g%3E%3Cpath d='M1.02683333,3.6725 C1.07183333,4.3975 1.13516667,5.38916667 1.20516667,6.01416667 L1.0635,2.81416667 L1.02683333,3.6725 Z' id='Fill-42' fill='%231D1D1D' mask='url(%23mask-16)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-47' transform='translate(1.000000, 257.000000)'%3E%3Cmask id='mask-18' fill='white'%3E%3Cuse xlink:href='%23path-17'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-46'%3E%3C/g%3E%3Cpath d='M0.981166667,5.69833333 L1.02616667,4.67333333 C0.956166667,3.60666667 0.927833333,3.18166667 0.981166667,5.69833333' id='Fill-45' fill='%231D1D1D' mask='url(%23mask-18)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-50' transform='translate(1.500000, 0.500000)'%3E%3Cmask id='mask-20' fill='white'%3E%3Cuse xlink:href='%23path-19'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-49'%3E%3C/g%3E%3Cpath d='M3.809088,1201.62619 C3.723648,1202.32531 3.551808,1192.70449 3.531648,1202.08697 C3.435648,1201.96781 3.387648,1196.36691 3.387648,1192.67271 C3.434688,1194.59529 3.647808,1185.44319 3.712128,1194.1345 C3.605568,1185.80069 3.712128,1190.4403 3.664128,1181.16903 C3.727488,1182.47194 3.667968,1164.99398 3.868608,1166.06649 C3.785088,1163.11907 3.570048,1166.21744 3.565248,1155.46849 C3.424128,1158.0743 3.398208,1170.05464 3.251328,1162.01478 L3.342528,1167.24228 C3.273408,1174.72602 3.197568,1165.19259 3.135168,1174.9723 C3.145728,1172.09639 3.069888,1166.27305 3.171648,1164.97809 C2.873088,1167.47267 3.030528,1150.47138 2.813568,1149.98677 C2.903808,1147.8338 2.913408,1144.98966 2.892288,1139.61916 C2.971968,1140.358 3.051648,1137.38675 3.105408,1141.54968 C3.078528,1144.9976 3.110208,1147.50013 3.042048,1151.29761 C3.338688,1149.19231 3.141888,1137.41058 3.208128,1128.50477 C3.184128,1129.74411 3.155328,1130.10162 3.114048,1127.63881 C3.161088,1122.18887 3.219648,1110.1688 3.357888,1113.62467 L3.333888,1086.16838 C3.403008,1086.04127 3.360768,1090.08503 3.382848,1091.76133 L3.396288,1076.42839 C3.492288,1072.85336 3.487488,1081.64795 3.578688,1083.19713 L3.577728,1072.13835 L3.668928,1073.68753 C3.609408,1070.9705 3.587328,1058.23543 3.736128,1055.15295 C3.696768,1043.0296 3.393408,1043.2441 3.536448,1026.8466 C3.685248,1027.45833 3.585408,1036.12581 3.680448,1039.93124 C3.734208,1036.72959 3.631488,1026.97371 3.775488,1025.32125 C3.694848,1013.54746 3.428928,1014.83448 3.283968,1009.13031 C3.277248,999.509484 3.411648,1008.07368 3.453888,1007.69235 C3.464448,1004.84026 3.191808,1000.20066 3.394368,997.602798 C3.286848,992.955249 3.159168,990.333555 3.107328,997.22146 C3.111168,992.113129 3.041088,984.859776 2.976768,983.564819 C3.195648,987.703917 3.067968,977.717647 3.248448,977.153585 C3.290688,969.415616 3.352128,952.295161 3.116928,945.041808 L3.356928,947.202719 L3.334848,938.153903 C3.483648,931.393111 3.484608,946.130208 3.496128,950.642699 C3.526848,938.392239 3.515328,930.193487 3.513408,919.134706 C3.461568,922.360184 3.413568,920.437608 3.338688,921.978846 C3.241728,918.181363 3.315648,912.953864 3.289728,909.021323 C3.348288,908.06798 3.401088,908.552596 3.417408,911.635072 L3.389568,904.040105 C3.539328,904.643889 3.539328,900.941739 3.635328,908.457262 L3.592128,901.442245 C3.633408,893.696331 3.714048,901.791804 3.763008,903.69849 L3.792768,891.455974 C3.713088,887.062651 3.661248,893.942611 3.622848,885.505524 C3.760128,874.224296 3.715968,859.828813 3.763008,846.990457 L3.619968,856.023385 C3.661248,848.285415 3.422208,849.834598 3.320448,847.45124 C3.347328,840.30911 3.340608,830.688288 3.403008,824.634559 C3.515328,831.530408 3.691008,828.694212 3.797568,822.275034 C3.822528,807.776273 3.561408,811.319532 3.480768,803.239948 C3.775488,809.539958 3.587328,793.126565 3.746688,794.55658 C3.744768,776.125278 3.646848,757.590697 3.661248,738.55561 C3.618048,738.929003 3.571008,744.378949 3.527808,741.042247 C3.484608,734.051064 3.606528,730.722307 3.666048,729.761019 C3.643008,720.728092 3.551808,715.516483 3.467328,712.521396 C3.493248,716.453937 3.451008,716.803496 3.371328,716.072599 C3.349248,707.047617 3.547008,709.550143 3.412608,700.977998 C3.571968,698.729697 3.487488,710.511431 3.642048,709.677255 C3.657408,701.70095 3.592128,696.703843 3.517248,690.880505 C3.619008,689.569658 3.539328,696.227171 3.624768,691.833848 C3.559488,679.480109 3.461568,664.607955 3.412608,655.328747 L3.546048,652.84211 C3.540288,646.899604 3.512448,642.975008 3.453888,640.242091 C3.507648,637.032502 3.539328,639.535028 3.554688,642.625449 C3.570048,634.665033 3.469248,624.901209 3.457728,620.380774 C3.537408,621.103725 3.469248,624.901209 3.532608,626.220001 C3.569088,616.233731 3.310848,603.625766 3.486528,597.079476 C3.508608,597.937485 3.511488,598.906717 3.510528,599.804449 C3.526848,585.019685 3.435648,572.125717 3.428928,556.061884 C3.592128,541.34862 3.227328,551.311057 3.251328,536.804351 C3.607488,536.724906 3.281088,517.086035 3.349248,510.96875 L3.297408,512.915159 C3.157248,505.765085 3.290688,495.905927 3.390528,490.916764 C3.416448,480.112207 3.420288,463.937151 3.280128,453.116705 L3.355008,455.269672 C3.263808,446.340024 3.380928,440.77091 3.288768,431.825373 C3.314688,432.071654 3.357888,435.408355 3.384768,431.952486 C3.513408,388.916984 3.302208,345.031417 3.360768,302.130972 C3.479808,219.984565 3.585408,117.698782 3.340608,36.8314427 C3.340608,36.8314427 1.874688,-1.56445558 1.269888,4.17943733 C1.190208,7.38108165 1.072128,-3.76508952 1.037568,2.89242398 L1.206528,9.48638127 C1.126848,8.39003657 1.028928,12.1239642 0.955968,12.8707497 C1.114368,15.5162772 1.225728,4.43366219 1.439808,12.2034095 C1.536768,14.006817 1.514688,19.8937114 1.490688,22.872909 C1.525248,16.2312846 1.639488,23.0476886 1.697088,25.7170496 C1.628928,29.808481 1.656768,36.3547711 1.551168,38.2455685 C1.588608,38.8731861 1.607808,42.0430523 1.589568,44.2119081 L1.536768,44.4184658 C1.580928,49.3122944 1.588608,42.7660043 1.644288,44.0212395 C1.661568,47.5565539 1.543488,53.0859446 1.548288,58.8536711 C1.543488,53.0859446 1.470528,48.2874504 1.412928,44.1562965 C1.313088,54.6669055 1.140288,42.2972772 1.001088,39.9456972 C1.063488,48.3907293 1.160448,51.6320962 1.248768,58.5358901 C1.133568,66.9253104 0.853248,57.8685498 0.836928,55.7473611 C0.911808,63.4217741 1.081728,71.4695798 1.140288,75.5848447 C0.931968,69.8647853 0.864768,70.8499067 0.696768,65.6939087 C0.571008,71.8429725 0.720768,73.0982078 0.799488,76.0456272 C0.781248,74.3296094 0.767808,71.684082 0.810048,71.0564644 C0.788928,78.3654291 1.114368,77.1340274 1.253568,80.9474003 C1.163328,86.3496786 1.117248,96.6457854 0.926208,95.9546115 L1.130688,95.8831108 C1.176768,102.222843 1.025088,99.1721449 0.956928,100.149322 C1.095168,102.524735 1.297728,99.5773158 1.347648,110.262704 C1.019328,108.610243 1.314048,119.780248 1.014528,119.478356 C1.031808,124.467518 1.197888,126.739653 1.161408,131.935374 C0.988608,137.679267 0.760128,124.054403 0.811968,120.963982 C0.805248,113.750352 0.949248,121.917325 0.946368,119.025518 L0.859008,112.129668 C0.793728,115.974819 0.717888,123.506231 0.582528,122.584666 C0.642048,129.599683 0.726528,116.944051 0.801408,124.642298 L0.723648,129.273957 C0.797568,136.94837 0.953088,127.661218 0.988608,137.679267 C0.847488,130.974086 0.984768,148.539435 0.766848,147.927706 C1.039488,148.340822 0.795648,165.874392 1.015488,167.963803 L1.078848,162.664804 L0.956928,163.832649 C0.952128,158.072867 0.880128,153.274373 0.930048,147.308033 C1.028928,151.995304 1.158528,145.719128 1.245888,151.161129 C1.404288,161.401624 1.099008,153.894046 1.099968,155.33995 L1.243008,163.48309 L1.360128,157.961644 C1.407168,164.309321 1.414848,172.968855 1.393728,181.715779 C1.228608,194.649469 1.243008,180.126874 1.087488,189.390192 C1.146048,193.52929 1.213248,192.520335 1.190208,198.40723 C1.269888,195.229419 1.158528,192.750727 1.171008,190.534204 C1.345728,187.698008 1.247808,201.084535 1.410048,200.480751 C1.344768,202.895887 1.275648,202.435105 1.205568,200.528418 C1.268928,210.427299 1.236288,219.952787 1.022208,223.654936 L1.229568,227.937036 C1.148928,244.874767 1.043328,216.338027 0.905088,230.590508 C0.883008,236.477402 0.887808,242.261018 0.972288,244.835045 L0.981888,239.742603 C1.093248,243.643366 1.174848,243.349418 1.247808,249.577927 C1.224768,254.010973 1.086528,251.627615 1.199808,256.982226 C1.100928,267.770894 0.953088,263.949576 0.800448,260.875044 C0.816768,265.355758 0.810048,271.155262 0.896448,271.933826 C0.847488,272.005327 0.753408,271.226763 0.700608,268.668625 C0.912768,259.715144 0.483648,265.180978 0.714048,261.44705 L0.721728,259.44503 C0.709248,259.254361 0.697728,259.079581 0.684288,258.944524 C0.639168,262.861176 0.567168,262.853232 0.502848,261.86811 L0.598848,265.514648 L0.400128,268.223732 C0.374208,271.655767 0.545088,273.935847 0.427968,275.826644 C0.258048,280.934975 0.165888,268.319066 0.092928,280.895252 C0.030528,294.353281 0.349248,293.542939 0.303168,302.687089 C0.361728,301.741691 0.355968,299.469556 0.365568,296.617471 C0.451968,299.604613 0.525888,294.377114 0.589248,299.382166 C0.414528,302.218362 0.421248,311.847129 0.422208,319.211705 C0.328128,317.28913 0.232128,322.008179 0.179328,319.696321 C0.199488,323.430249 0.228288,326.878174 0.306048,328.475023 C0.442368,313.49959 0.445248,342.981729 0.625728,331.350942 C0.610368,343.021452 0.451008,345.261809 0.355968,352.499273 C0.303168,352.022601 0.253248,339.057133 0.174528,349.408852 C0.351168,361.309753 0.428928,347.287663 0.643968,356.543037 L0.712128,349.067237 C0.936768,348.129783 0.762048,362.016816 0.810048,363.947336 C0.751488,368.563106 0.750528,357.512269 0.596928,362.016816 C0.544128,368.912665 0.683328,372.376479 0.597888,376.777747 C0.449088,372.487702 0.507648,375.220619 0.374208,370.334735 C0.370368,386.501848 0.197568,369.50056 0.097728,381.846355 C0.124608,385.770951 0.258048,383.27637 0.221568,389.600213 C0.385728,385.906008 0.439488,386.38268 0.449088,376.166018 C0.683328,379.749 0.386688,389.600213 0.525888,396.742343 C0.547008,391.030228 0.573888,394.954824 0.541248,388.766038 C0.739008,387.931862 0.770688,385.643839 0.952128,391.292397 C0.902208,384.650773 0.691008,381.76691 0.751488,372.249366 C0.954048,369.643562 0.903168,383.919876 1.163328,384.046989 C1.292928,388.781927 1.177728,400.285602 1.078848,405.528989 C1.236288,414.76053 1.235328,426.08148 1.467648,433.152109 C1.387968,439.817567 1.603008,456.47724 1.529088,469.061371 C1.411968,470.976002 1.445568,484.505531 1.321728,476.775506 C1.359168,477.863906 1.377408,488.310959 1.483008,485.585986 C1.445568,484.505531 1.477248,483.329741 1.471488,481.08144 L1.615488,483.091405 C1.552128,489.153079 1.734528,495.953594 1.644288,501.768988 C1.527168,503.66773 1.574208,490.837319 1.435968,494.746026 C1.650048,500.354862 1.731648,523.171543 1.636608,530.424896 C1.604928,535.294891 1.424448,535.866897 1.403328,537.900696 L1.414848,546.091503 C1.355328,547.044846 1.286208,547.171959 1.212288,548.689363 C1.170048,552.733127 1.228608,555.473989 1.261248,557.976515 C1.140288,568.661904 0.994368,562.949789 0.877248,557.468065 L0.941568,551.430225 C0.860928,547.028957 0.897408,540.721003 0.732288,544.415208 C0.748608,547.473851 0.817728,547.370572 0.855168,548.458972 L0.759168,552.002231 C0.829248,555.577268 0.862848,565.44437 0.989568,564.395693 C0.895488,571.625212 1.002048,579.951076 0.896448,586.370254 C0.980928,581.968986 1.028928,587.561933 1.130688,586.259031 L1.172928,578.536951 C1.205568,584.725737 1.296768,593.647441 1.206528,599.470779 C1.126848,598.747827 1.099968,598.517436 1.020288,601.464855 C1.132608,597.325757 1.159488,612.285301 1.303488,603.276207 C1.260288,599.955395 1.243968,596.849085 1.259328,592.559041 C1.435008,589.738733 1.451328,596.515415 1.548288,600.312899 C1.585728,605.063726 1.634688,614.350878 1.694208,620.770055 C1.651968,624.81382 1.455168,625.98961 1.567488,632.893403 C1.736448,624.106757 1.839168,641.219267 2.010048,643.499347 C1.931328,650.15686 2.149248,654.311848 2.007168,659.65057 C1.947648,656.925597 1.957248,646.685102 1.828608,644.079297 C1.706688,643.69796 1.505088,646.327598 1.444608,636.214216 C1.377408,648.353453 1.547328,643.356345 1.593408,648.949292 L1.579008,644.78636 C1.627968,646.677157 1.722048,643.110065 1.723008,646.80427 C1.670208,661.056751 1.538688,663.559277 1.379328,673.188044 C1.469568,671.043021 1.550208,675.444289 1.555968,677.716424 C1.439808,686.979742 1.294848,677.581367 1.108608,683.261704 C1.220928,686.487181 1.184448,692.795136 1.274688,690.666003 C1.274688,694.336374 1.227648,692.429688 1.189248,695.043437 C1.291968,697.426795 1.349568,700.175601 1.345728,705.268043 C1.291968,704.80726 1.212288,704.084308 1.243008,699.214314 C1.195968,704.680148 1.009728,706.674224 0.908928,704.298811 L0.982848,695.392996 C0.859008,691.349232 0.924288,703.702971 0.801408,703.361357 C0.774528,699.428816 0.855168,696.465507 0.822528,693.962981 C0.689088,696.457563 0.811968,704.179643 0.823488,708.700079 C0.797568,715.834264 0.668928,713.204625 0.599808,713.315849 C0.804288,725.455086 0.843648,699.309648 1.036608,710.61471 C1.187328,714.89681 1.160448,725.717255 1.188288,733.328112 C1.363008,726.789766 1.433088,734.059008 1.487808,741.908201 C1.497408,731.683595 1.689408,739.294451 1.582848,727.282327 L1.720128,727.051936 C1.715328,732.168211 1.652928,738.22194 1.647168,743.330271 C1.610688,742.265705 1.579008,743.449439 1.555968,741.773144 L1.611648,757.010746 L1.520448,755.461564 C1.501248,764.84405 1.389888,776.379503 1.437888,781.97245 C1.427328,777.444069 1.565568,773.535362 1.603008,778.286189 C1.662528,781.027051 1.725888,786.024158 1.710528,790.298314 C1.551168,792.546615 1.548288,808.721672 1.391808,798.489121 C1.468608,811.677036 1.499328,806.814985 1.590528,819.430894 L1.553088,810.977917 C1.680768,809.913351 1.889088,816.944257 1.973568,808.856729 C2.049408,818.366327 2.277888,812.312598 2.300928,825.047674 C2.221248,830.203672 2.044608,823.490547 2.015808,816.340473 C2.003328,819.939344 1.932288,823.212489 2.018688,826.938472 C1.912128,829.6555 1.836288,820.145901 1.794048,820.503405 C1.784448,827.05764 1.863168,820.384237 1.895808,826.565079 C2.035008,837.385525 1.677888,833.445039 1.764288,843.804702 C1.758528,841.540512 1.800768,837.512637 1.860288,840.23761 C1.850688,854.148476 1.984128,847.975579 2.042688,858.081017 C1.857408,863.785187 1.659648,861.266772 1.612608,870.410923 L1.617408,865.310536 C1.521408,868.869684 1.479168,872.905504 1.480128,876.599709 C1.630848,895.618906 1.904448,911.325236 2.038848,930.940273 L1.995648,923.925256 C2.059968,921.549842 2.071488,929.772427 2.141568,929.661204 L2.056128,934.038638 C2.189568,935.246206 2.188608,924.187425 2.316288,926.809119 C2.299968,927.397014 2.295168,928.834973 2.306688,929.669148 L2.347968,925.61744 C2.300928,934.769535 2.536128,942.030832 2.318208,948.918737 C2.300928,931.07533 1.929408,946.177875 1.868928,928.699916 C1.917888,937.963234 1.725888,930.344433 1.667328,931.289832 C1.634688,936.167771 1.768128,933.681134 1.721088,939.154913 C1.625088,939.019857 1.543488,927.246068 1.469568,932.473566 C1.619328,933.07735 1.587648,937.947345 1.689408,940.314814 C1.646208,944.358579 1.592448,940.21948 1.545408,941.99111 C1.550208,944.247355 1.615488,945.566147 1.593408,947.576112 L1.503168,946.042818 C1.364928,957.316102 1.641408,949.482798 1.595328,962.313209 C1.717248,962.678657 1.691328,958.746117 1.669248,953.407395 C1.940928,950.698311 1.952448,969.939955 2.245248,968.891277 C2.284608,981.014625 2.133888,965.681689 2.055168,976.017518 C1.868928,981.697855 1.862208,968.398717 1.733568,965.769078 L1.612608,976.478301 C1.378368,972.887374 1.457088,966.237806 1.243968,964.331119 C1.228608,972.291535 1.287168,971.346136 1.367808,979.433665 C1.553088,966.364918 1.511808,985.137835 1.746048,977.66998 C1.682688,983.715765 1.633728,981.817023 1.629888,990.603669 C1.581888,985.026612 1.437888,990.381223 1.436928,982.992813 C1.449408,994.885769 1.503168,991.668236 1.513728,1003.55325 C1.679808,1007.2554 1.736448,991.557013 1.849728,1005.84127 C1.849728,1008.93169 1.787328,1008.32791 1.789248,1006.51656 C1.718208,1016.72527 1.996608,1004.42715 2.079168,1010.83838 C2.098368,1015.3032 2.031168,1016.908 1.991808,1015.06487 C2.082048,1021.75416 2.194368,1018.05995 2.229888,1022.50889 L2.251008,1020.48303 C2.299008,1022.38178 2.539008,1017.17811 2.545728,1026.80688 C2.541888,1033.82984 2.448768,1031.62921 2.392128,1031.7881 C2.447808,1037.25393 2.396928,1041.4407 2.337408,1045.18257 C2.370048,1044.80918 2.402688,1045.22229 2.402688,1046.87475 C2.451648,1056.15396 2.259648,1052.20553 2.232768,1055.6614 C2.144448,1068.87315 2.542848,1054.02483 2.543808,1068.76192 L2.605248,1051.64147 C2.685888,1052.36442 2.808768,1052.73781 2.807808,1049.04361 C2.685888,1048.69405 2.584128,1042.61649 2.604288,1036.90437 C2.748288,1035.25985 2.755008,1052.2532 2.913408,1042.62443 C2.887488,1046.07236 2.924928,1050.84702 2.909568,1055.11323 C2.759808,1050.83113 2.874048,1068.78576 2.708928,1061.39735 C2.736768,1080.06699 2.630208,1082.7999 2.733888,1099.92036 C2.642688,1098.37118 2.406528,1087.43156 2.480448,1078.5178 L2.565888,1077.78691 C2.468928,1066.62485 2.466048,1086.48616 2.321088,1084.45237 C2.547648,1098.24406 2.196288,1114.99113 2.273088,1131.8653 C2.351808,1128.90199 2.395968,1132.24664 2.475648,1132.96165 C2.459328,1126.18496 2.427648,1127.3687 2.527488,1122.38748 C2.634048,1123.34082 2.591808,1127.38459 2.667648,1129.52961 C2.784768,1131.30124 2.671488,1124.41334 2.735808,1122.02203 C2.794368,1128.46504 2.810688,1127.86126 2.907648,1131.67463 C2.811648,1135.23378 2.757888,1134.74916 2.652288,1137.49003 C2.621568,1153.4188 2.833728,1151.63923 2.787648,1164.47758 C2.813568,1157.35929 2.665728,1167.81429 2.707968,1160.07632 L2.691648,1164.36636 C2.525568,1153.29169 2.539968,1134.27249 2.257728,1136.16329 C2.279808,1145.19622 2.434368,1151.75045 2.435328,1162.7854 L2.383488,1162.32462 C2.367168,1170.30092 2.451648,1162.20545 2.500608,1164.09625 C2.590848,1173.01795 2.225088,1175.6317 2.421888,1181.8046 L2.468928,1172.66839 C2.581248,1179.57219 2.490048,1170.65048 2.676288,1172.31883 C2.811648,1184.56929 2.707008,1205.73351 2.835648,1223.0923 C2.937408,1218.10314 2.942208,1216.68901 2.951808,1210.13478 C3.203328,1213.10603 3.165888,1215.73567 3.384768,1212.54197 L3.399168,1204.57361 L3.633408,1204.46239 C3.636288,1206.64713 3.622848,1208.8001 3.598848,1210.73062 C3.745728,1211.83491 3.548928,1222.82219 3.689088,1223.36242 L3.671808,1216.59368 C3.794688,1213.26492 3.779328,1221.24123 3.816768,1226 C3.971328,1221.48751 3.815808,1211.25496 3.809088,1201.62619' id='Fill-48' fill='%23B87248' mask='url(%23mask-20)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
          width: 1228px;
          height: 7px;
          max-width: 100%;
          background-size: cover;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .views-field-field-images{
    width:132px;
    margin-bottom:15px;
  }
  .views-field-title{
    width:calc(100% - 132px);
    color: $primary-color;
    font-size:18px;
    padding-left:15px;
    margin-bottom:15px;
  }
  .views-field-edit-quantity{
    width:100%;
    margin-bottom:15px;
    min-width:230px;
  }
  .js-form-type-checkbox{
    color: $primary-color;
    text-transform: uppercase;
    margin-top:14px;
    label{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight:normal;
      font-size:15px;
      letter-spacing: 0;
      line-height:16px;
      color: $primary-color;
      margin-left:0;
      margin-right:0;
    }
    input{
      margin:0;
      display: none;
      & + label:before{
        content: '';
        display: block;
        width:23px;
        height:23px;
        border:2px solid $primary-color;
        margin-right:15px;
        color: $primary-color;
        flex: 0 0 auto;
      }
      &:checked{
        & + label:before{
          background: url('../images/icons/checked-red.svg')no-repeat center center;
        }
      }
    }
  }
  .views-field-unit-price__number,
  .views-field-total-price__number{
    color: $primary-color;
    font-weight: $global-weight-bold;
    font-size:18px;
  }
  .views-field-unit-price__number{
    width:40%;
  }
  .views-field-total-price__number{
    width:40%;
  }

  .field-commerce-order--total-price{
    color: $primary-color;
    font-weight: $global-weight-bold;
    font-size:18px;
    margin-top:25px;
    margin-bottom:25px;
    display: flex;
    justify-content:flex-end;
    & > .field-items{
      width:265px;
    }
    .order-total-line__total{
      padding-left:0;
      padding-right:0;
      display: flex;
      justify-content: space-between;
      .order-total-line-label{
        text-transform: uppercase;
      }
    }
  }
  input.button{
    background-color: transparent;
    color: $primary-color;
    &:hover,
    &:focus{
      background-color: $primary-color;
      color: #fff;
    }
  }

  @media screen and (min-width: 500px){
    .form-actions{
      display: flex;
      justify-content: flex-end;
      input.button{
        &:first-of-type{
          margin-right:20px;
        }
      }
    }
  }
  @media screen and (min-width: 600px){
    .views-field-title{
      width:calc(100% - 132px - 230px);
    }
    .views-field-edit-quantity{
      margin-bottom:15px;
    }

    .field-commerce-order--total-price{
      margin-top:50px;
      margin-bottom:50px;
      margin-right:60px;
    }
    .form-actions{
      margin-right:60px;
    }
  }
  @media screen and (min-width: 720px){
    margin-bottom:95px;
    .views-field-field-images{
      width:250px;
    }
    .views-field-title{
      width:calc(100% - 250px - 230px);
    }
    .views-field-edit-quantity{
      margin-bottom:15px;
      width:230px;
    }
  }
  @media screen and (min-width: 890px){
    .item-list {
      & > ul {
        & > li {
          flex-wrap: nowrap;
          padding:35px 0;
          & > div{
            margin-bottom:0;
          }
        }
      }
    }
    .views-field-field-images{
      width:20%;
      padding-right:20px;
    }
    .views-field-title{
      width:25%;
    }
    .views-field-edit-quantity{
      width:230px;
      padding-left:20px;
      padding-right:20px;
    }
    .views-field-unit-price__number{
      width:auto;
      white-space: nowrap;
      padding:0 20px;
    }
    .views-field-total-price__number{
      width:auto;
      white-space: nowrap;
      padding:0 20px;
    }
  }
}
