// Incrementor, decrementor syles
.views-field-edit-quantity,
.field--name-quantity{
  color: $primary-color;
  .js-form-type-number{
    label{
      display: none;
    }
  }
  .form-item{
    display: flex;
    input{
      box-shadow: none;
      margin:0;
      border:none;
      background: transparent;
      border-left:2px solid $primary-color;
      border-top:2px solid $primary-color;
      border-bottom:2px solid $primary-color;
      width:36px;
      height:36px;
      color: $primary-color;
      text-align: right;
      font-size: 14px;
      font-weight:$global-weight-bold;
      -webkit-appearance: none;
      -moz-appearance:textfield;
      appearance: none;
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance: none;
        margin:0;
      }
    }
    .suffix{
      font-weight:$global-weight-bold;
      font-size: 14px;
      line-height: 30px;
      border-top:2px solid $primary-color;
      border-bottom:2px solid $primary-color;
      padding-right:18px;
    }
  }
  .qty-button {
    font-weight:$global-weight-bold;
    flex: 0 0 auto;
    display: block;
    width: 50px;
    height: 18px;
    background: transparent;
    cursor: pointer;
    text-align: center;
    border:2px solid $primary-color;
    line-height: 12px;
    &.inc {
      font-size: 12px;
      border-bottom: none;
      line-height:15px;
    }
  }
}

.product-normal{
  .views-field-edit-quantity,
  .field--name-quantity {
    .form-item {
      input {
        text-align: center;
        width: 50px;
      }
    }
  }
}
// Add to cart form
.commerce-order-item-add-to-cart-form{
  display: flex;
  position: relative;
  padding-bottom:20px;
  .field--name-field-brood{
    position: absolute;
    bottom: 0;
    left:0;
    color: $primary-color;
    text-transform: uppercase;
    label{
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight:normal;
      font-size:15px;
      letter-spacing: 0;
      line-height:16px;
      color: $primary-color;
      margin-left:0;
      margin-right:0;
    }
    input{
      margin:0;
      display: none;
      & + label:before{
        content: '';
        display: block;
        width:23px;
        height:23px;
        border:2px solid $primary-color;
        margin-right:15px;
        color: $primary-color;
        flex: 0 0 auto;
      }
      &:checked{
        & + label:before{
          background: url('../images/icons/checked-red.svg')no-repeat center center;
        }
      }
    }
  }
  .button--add-to-cart{
    padding:0;
    font-size:0;
    color: transparent;
    width:53px;
    height:36px;
    border: solid 0px transparent!important;
    margin-left:13px;
    background: #B87248 url('../images/icons/cartnew.svg')no-repeat center center;
    &:hover,
    &:focus{
      background-color: darken($primary-color, 5%);
    }
  }
}
// Filter button
.block-category-facet{
  padding:0 30px;
}
.filter-button{
  display: flex;
  align-items: center;
  font-family: $body-font-family;
  font-weight:$global-weight-bold;
  font-size:18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border:2px solid $primary-color;
  color: $primary-color;
  padding:7px 15px;
  margin-bottom:25px;
  .button-text{
    margin-right:11px;
  }
}

// Filter content
.facet-filter-content{
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='528px' height='583px' viewBox='0 0 528 583' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EFill 1%3C/title%3E%3Cdefs%3E%3Cfilter id='filter-1'%3E%3CfeColorMatrix in='SourceGraphic' type='matrix' values='0 0 0 0 0.721569 0 0 0 0 0.447059 0 0 0 0 0.282353 0 0 0 1.000000 0'%3E%3C/feColorMatrix%3E%3C/filter%3E%3C/defs%3E%3Cg id='Winkelmandje' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.14'%3E%3Cg id='Group-3' transform='translate(-925.000000, -654.000000)' filter='url(%23filter-1)'%3E%3Cg transform='translate(1189.242230, 945.500000) rotate(90.000000) translate(-1189.242230, -945.500000) translate(898.242230, 681.500000)'%3E%3Cpath d='M249.156629,502.840204 C249.262854,502.327781 249.363767,501.815358 249.430157,501.396759 C249.467336,501.829792 249.517792,502.197871 249.541693,502.74638 C249.414224,502.804117 249.284099,502.804117 249.156629,502.840204 L249.156629,502.840204 Z M204.969885,487.691253 C204.571543,488.225327 204.178513,488.860443 203.79876,489.51721 C204.120089,488.463496 204.515776,487.907769 204.969885,487.691253 L204.969885,487.691253 Z M438.140669,455.834431 C438.034444,455.73339 437.925564,455.60348 437.81934,455.437484 C437.92822,455.567394 438.034444,455.690087 438.140669,455.834431 L438.140669,455.834431 Z M423.120522,473.393934 C422.993053,473.30011 422.870894,473.206287 422.74608,473.112463 C422.785915,472.953684 422.820438,472.766036 422.841683,472.542302 C422.934629,472.823774 423.027575,473.069159 423.120522,473.393934 L423.120522,473.393934 Z M448.128429,36.8674281 C448.351501,36.3044847 448.569261,36.1240542 448.683452,36.6725631 C448.494904,36.7086492 448.309011,36.7519525 448.128429,36.8674281 L448.128429,36.8674281 Z M463.639864,420.188568 C463.740778,420.332912 463.841691,420.513343 463.942604,420.628818 C463.908081,420.621601 463.876214,420.592732 463.841691,420.585515 C463.767334,420.477256 463.70891,420.318478 463.639864,420.188568 L463.639864,420.188568 Z M472.387453,397.042934 C472.416665,396.638769 472.475089,396.335646 472.538823,396.046957 C472.488367,396.378949 472.443221,396.725376 472.387453,397.042934 L472.387453,397.042934 Z M497.642332,96.5394265 C497.440506,96.0703071 497.347559,95.2331092 497.39536,94.5691247 C497.464406,95.290847 497.549386,95.9548315 497.642332,96.5394265 L497.642332,96.5394265 Z M580.223928,209.467312 C576.508726,194.051324 574.315189,176.917637 574.285978,157.431136 C574.275355,150.372692 573.173276,148.994202 571.370115,149.088026 C567.1052,149.318977 562.845597,149.297325 558.607239,147.49302 C557.762754,144.772127 556.671297,145.609325 555.717932,145.977403 C554.175021,146.569215 553.11012,144.800996 552.297502,140.874826 C552.116921,139.770591 551.938995,138.659139 551.761069,137.554904 C551.816836,135.072179 551.620321,132.127552 551.973518,130.200554 C553.351781,122.694642 552.029285,119.16542 550.196913,115.816629 C547.493499,110.872831 544.529835,107.502388 541.983102,101.512093 C541.231563,99.7438735 540.118861,98.4303389 539.003504,99.5923118 C534.868715,103.900994 530.733925,108.151938 526.599136,112.431751 L526.59648,112.431751 C524.596804,110.981089 522.602438,109.465473 520.597451,108.0942 C519.004083,107.0044 517.362914,107.632298 515.758924,105.770255 C512.973186,102.544156 510.094501,100.133604 507.252996,97.3838416 C506.907766,96.8642016 506.562536,96.3373443 506.214651,95.810487 L506.217307,95.810487 C505.202862,91.04712 503.519204,91.5811944 502.069239,91.0904233 C500.81579,90.6718244 499.968649,89.2716831 499.381759,85.9012401 L499.379103,85.9012401 L499.381759,85.9012401 C497.899927,83.4401671 497.108554,82.0544603 498.420427,75.3135742 C499.989894,67.244719 500.890147,56.7003565 497.435195,49.3171375 C496.69959,47.7437829 497.044819,46.1776456 497.257269,44.3300365 C497.889304,38.8232955 499.963338,34.2908795 498.441672,27.2540873 C498.415116,27.1241773 498.49744,26.7560989 498.537274,26.5034961 C499.642009,19.4089661 498.287646,18.2109071 496.726146,20.2245122 C493.682813,24.1434642 490.445621,23.7104309 487.335899,25.8178599 C483.923436,27.6221656 480.723422,22.9887086 477.385317,22.5412408 C475.693691,22.2020313 474.073767,20.5348528 472.753928,17.4458814 C467.604694,5.3931193 462.001351,8.95842738 456.62639,13.70736 C454.926798,15.2085424 451.689606,15.035329 451.671017,25.6302121 L451.668361,25.6302121 C451.51168,25.6229949 451.354999,25.6735155 451.198318,25.7745566 C449.8891,25.139441 448.69673,28.9212658 447.241454,25.9044666 C445.422359,22.1298591 443.656377,23.4939142 442.294047,29.0944791 C440.785659,27.600514 439.250715,27.3767801 437.66797,27.4345179 C432.569193,27.6366001 427.44386,28.4665807 422.37695,27.1386117 C417.899587,25.9694216 413.435502,26.9076606 408.971416,25.8972494 C406.209579,25.2765682 403.415874,26.3230655 400.733705,23.1619219 C399.897187,22.1803796 399.087225,22.7938436 398.208217,23.6382586 C395.228619,26.4746272 392.13483,28.8202246 389.05963,26.5684511 C385.814471,24.201202 383.336784,27.795379 381.005156,34.1176662 C380.28283,35.1641635 379.780919,37.5963676 378.888633,37.5747159 L378.888633,37.5819332 L378.888633,37.5747159 C376.543726,32.2411883 374.026205,33.5402884 371.490095,35.6188486 C371.341381,35.6188486 371.200633,35.7198897 371.070508,35.9436236 C370.398638,36.4632636 369.737391,37.1488998 369.057554,37.480892 C363.122259,40.4110845 357.096673,38.3686105 351.150756,40.7935973 C350.521375,39.6604933 349.854816,39.3357183 349.13249,39.5233661 C344.224917,40.8224662 339.327967,40.7142079 334.486784,37.4592404 C333.313003,36.6653459 331.966608,35.8137136 331.108845,33.4681161 C328.790495,27.11696 326.041935,24.3166776 323.208396,21.9710802 C318.457505,18.0304765 313.571177,19.5460933 308.740617,18.7882849 C305.761019,16.8324175 302.784077,16.3705152 299.812446,18.9326293 C298.418249,18.4562926 297.024052,17.9871732 295.629856,17.5108364 C284.335534,12.6031249 272.942954,18.0521282 261.63801,14.2342173 C259.75518,12.7402522 258.007787,16.0818263 255.994832,14.9270707 C251.26253,12.1989604 246.418692,10.7194298 241.598755,12.4948666 C236.221138,14.4723856 230.811655,13.1588511 225.596031,10.6039542 C223.389217,9.52858799 220.799994,9.25433352 218.609113,5.84058712 C215.491424,9.28320241 212.533071,2.85987408 209.489739,4.18062586 C204.491875,6.33857549 199.525879,3.76202694 194.543949,4.02906418 C192.666431,3.85585084 190.741111,2.88152575 188.932639,3.04030465 C186.061921,3.28569023 183.236349,-1.75193131 180.373598,2.36910293 L180.384221,2.41962349 C178.902389,1.02669948 177.749853,7.75315117 176.180385,4.15175697 C174.175398,1.62572898 172.048252,0.615317781 169.976874,1.89276622 C166.960097,3.74759249 164.015022,6.72830553 161.024802,9.02338239 C159.272098,10.3730031 157.402546,10.5895197 155.737477,12.5959077 C151.350404,17.886132 146.724327,18.4779443 142.177917,20.6791973 C138.106863,18.304731 134.006596,16.8035486 129.879774,15.7209652 C125.434278,14.5589923 121.023305,19.3873144 116.652166,17.2293648 C111.542766,14.7033368 106.454612,16.7602453 101.366458,16.2839086 C99.1569875,16.0746091 96.7244461,14.4218651 94.5096649,17.7129187 C91.2485722,22.6206302 87.7936198,26.20759 84.3068,28.3005846 C83.5207385,28.4160602 82.7452995,28.668663 82.0043835,29.3615163 C81.4360824,29.5852503 80.8677812,29.9100253 80.3021356,30.0543697 C76.3319943,31.0286948 72.4441769,34.4424412 68.4634131,34.0094079 C66.5513718,33.8001084 64.6765091,37.7479293 62.8282025,35.0631224 C57.31515,27.0592223 52.2030951,31.2668632 47.1733641,39.4656283 C46.5147721,48.3644641 44.4593277,52.0235961 42.2445465,55.0764813 C42.2153348,55.0692641 42.1940899,55.0909158 42.1648781,55.0836985 C41.5301866,54.9177024 41.0495207,56.5199259 40.5157425,57.4220787 C36.8403742,59.3057739 33.1676615,61.2616413 29.4896375,63.0442953 C23.6154217,65.9023156 20.2454489,82.9349615 15.1944731,90.7872999 C14.7881643,91.4224155 14.4031004,93.2916763 14.3207764,94.7567725 C14.07646,99.1953645 13.2213526,102.197729 12.265332,105.099053 C11.3544567,107.863249 10.9030025,111.183172 10.6427525,115.217599 C9.90714769,126.678549 10.536528,139.308689 7.85435888,149.174633 C7.49319552,150.502602 7.60207565,152.328559 7.77469049,153.966869 C8.72539993,162.829618 8.89004793,171.425331 7.25153474,179.876699 C6.69916725,182.734719 6.55310854,187.173311 7.15593268,189.497257 C9.02017296,196.700045 7.469295,201.441761 6.39908299,207.157801 C5.24389136,213.342961 3.7753374,219.246649 4.78978154,227.712452 C6.91692751,245.409082 6.12821047,261.907653 2.43956409,277.114342 C0.41333141,285.479103 -0.991487838,294.601673 0.87275245,305.492462 C1.22594897,307.571022 1.27640562,310.335219 1.29765052,312.796292 C1.47026536,332.75913 1.6003904,352.721968 1.7437935,372.684807 L1.7437935,372.699241 C1.21001529,383.424034 0.16104818,394.394213 3.26545971,403.300266 C3.83376088,404.924141 4.0833885,407.16148 3.79923791,409.348299 C2.92023003,416.183009 4.73135806,421.74027 4.63310038,428.351247 C4.5959218,430.86284 5.5599093,434.435365 6.86647087,433.80025 C8.55012947,432.970269 8.87411425,434.695185 7.93137166,439.090474 C7.14796584,442.756823 7.45867255,445.528237 8.10929772,449.483275 C8.82631322,453.828043 10.2869003,458.403762 9.11577503,464.718832 C7.98448392,470.817386 8.8422469,475.631273 11.0225051,477.695399 C16.5514913,482.913451 22.1707683,485.569389 27.9467264,484.50124 C28.711543,484.364113 29.617107,483.714563 30.1747857,485.850861 C31.3007656,490.16676 32.7746308,489.632686 34.2511516,489.459472 L34.2511516,489.452255 L34.2511516,489.452255 C37.376808,489.683206 40.3962399,492.909305 43.5564193,492.613399 C46.5625732,492.339144 49.5421709,493.768154 52.4580339,496.157055 C53.4379551,496.965384 54.1231032,499.686277 55.2968841,499.816187 C58.4490967,500.148179 61.4897735,497.744844 64.827879,501.894747 C66.9284688,504.507382 70.0196023,503.258802 72.5928913,504.666161 C76.9348184,507.040627 81.3431359,507.820087 85.6452289,511.565826 C88.059181,513.666038 90.2606842,519.880067 93.0570446,516.964309 C94.7672593,515.174437 96.511997,516.083807 98.2408011,516.72614 C100.646786,517.613859 103.06605,518.28506 105.453446,519.569726 C111.404674,522.788607 117.578975,519.396513 123.421323,525.920882 C124.03477,526.606518 124.85801,526.49826 125.479423,525.812624 C126.950633,524.181531 128.358107,524.852733 129.845251,525.408459 C132.384017,526.36835 134.965272,529.998613 137.504038,525.653845 C140.534093,520.450227 143.925311,518.891307 147.135947,515.513647 C152.991573,509.364573 158.278899,512.150421 163.059002,524.585696 C165.690714,527.985008 168.325082,526.339481 170.956795,524.592913 C173.293734,524.571261 175.643952,525.285767 177.951679,523.661891 C178.273008,523.683543 178.591682,523.611371 178.889111,523.005124 C179.21044,522.99069 179.53708,522.976255 179.861065,522.954604 L179.861065,522.954604 L179.861065,522.954604 C188.305914,523.734064 196.679062,519.677984 205.113288,519.078955 C210.544017,518.689225 215.998646,516.574579 221.243481,511.233834 C223.561832,510.901841 225.938605,511.796777 228.097618,508.029387 C228.108241,508.014952 228.118863,508.007735 228.12683,507.986083 C229.675053,507.466443 231.297632,509.075884 232.760875,506.282819 C235.392587,505.47449 238.082723,507.509747 240.66929,504.644509 L240.671946,504.644509 C241.006553,504.608423 241.338505,504.56512 241.673112,504.521816 C246.620519,504.456861 251.573237,504.500165 256.520644,504.240345 C257.872351,504.17539 259.298415,505.669355 260.575765,502.948462 L260.575765,502.948462 C271.562036,502.905159 282.545651,502.861855 293.529266,502.825769 C301.559839,502.818552 309.590413,502.818552 317.623642,502.811335 C322.499347,502.775248 327.385675,503.229934 332.253414,502.594818 C341.463079,501.382324 350.630255,503.872266 359.802742,505.387883 C366.593145,506.51377 373.399481,507.083931 380.144738,505.618834 C390.448516,503.381495 400.696526,498.719169 411.061384,499.368719 C411.913835,499.41924 412.819399,499.982183 413.573593,498.004664 C415.46439,497.066425 417.363153,501.938051 419.251294,497.925275 C423.208157,498.459349 427.16502,499.274895 431.121884,499.462543 C437.110291,499.736798 443.101354,499.85949 449.089761,499.476978 C451.917989,499.296547 454.794018,500.913205 457.582411,498.062402 L457.582411,498.062402 L457.797516,498.062402 L458.007309,497.881971 C459.789225,498.026316 461.597698,498.986207 463.299946,496.323051 C472.552101,494.583701 481.812224,493.161908 491.051101,490.924569 C493.781071,490.260584 496.553531,488.766619 499.132131,485.129139 C503.734308,478.65529 508.216983,471.452501 512.527043,463.181564 L512.527043,463.181564 C514.683401,462.820703 516.438761,459.096616 518.29769,456.224161 C521.001104,455.8633 523.531903,452.788763 526.142371,451.006109 C531.429696,447.39028 536.748889,444.005403 541.813142,437.690333 C546.614491,435.294215 551.405216,432.616625 556.222498,430.617455 C558.894045,429.498785 561.621359,429.830777 564.300873,428.870887 C565.503866,428.437853 567.006943,428.062558 566.985698,421.913484 C566.937897,407.818248 569.298736,397.959521 572.689954,390.071097 C573.943404,387.148121 574.705564,383.792113 574.856934,378.458585 C575.07735,370.873284 575.956358,363.612758 577.857777,358.647308 C580.27704,352.325021 582.388253,347.893646 579.833553,335.631585 C578.646494,329.937196 578.548236,323.89638 575.860756,321.933296 C573.077674,319.905256 571.715344,307.10912 573.571618,303.168516 C575.085317,299.956852 576.367978,295.121313 577.995869,293.280921 C581.22775,289.636224 581.851819,282.390132 581.713727,273.022177 C581.535801,260.817853 581.541112,248.599095 581.878375,236.416422 C582.141281,226.882471 582.133314,217.39904 580.223928,209.467312 L580.223928,209.467312 Z' id='Fill-1' fill='%23FEB2A7'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: $primary-color;
  background-size: contain;
  background-repeat: no-repeat;
  .block-title{
    font-size:24px;
    font-weight:$global-weight-bold;
    letter-spacing:1px;
    text-transform: uppercase;
    //border-bottom: 2px solid #fff;
    padding-bottom:7px;
    &::after{
      content: "";
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='335px' height='7px' viewBox='0 0 335 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 59%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.3925 0.441235639 1.745 0.441235639 1.745 2.94123564 0.3925 2.94123564'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='0.378666667 0.847832941 1.745 0.847832941 1.745 3.34783294 0.378666667 3.34783294'%3E%3C/polygon%3E%3Cpolygon id='path-5' points='0.257407075 0.2355 1.745 0.2355 1.745 2.7355 0.257407075 2.7355'%3E%3C/polygon%3E%3Cpolygon id='path-7' points='0.132 0.0665 1.745 0.0665 1.745 3.359 0.132 3.359'%3E%3C/polygon%3E%3Cpolygon id='path-9' points='0.333333333 0.0895 1.44266667 0.0895 1.44266667 2.5895 0.333333333 2.5895'%3E%3C/polygon%3E%3Cpolygon id='path-11' points='0.75 0.120206226 1.406125 0.120206226 1.406125 2.62020623 0.75 2.62020623'%3E%3C/polygon%3E%3Cpolygon id='path-13' points='0.333333333 0.491812008 1.39816667 0.491812008 1.39816667 2.99181201 0.333333333 2.99181201'%3E%3C/polygon%3E%3Cpolygon id='path-15' points='0.333333333 0.37425 1.94933333 0.37425 1.94933333 2.87425 0.333333333 2.87425'%3E%3C/polygon%3E%3Cpolygon id='path-17' points='0.333333333 0.179623324 1.82314243 0.179623324 1.82314243 2.67962332 0.333333333 2.67962332'%3E%3C/polygon%3E%3Cpolygon id='path-19' points='0.105996724 0.7407115 4.85621263 0.7407115 4.85621263 333 0.105996724 333'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='1.0-Webshop' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-59' transform='translate(167.500000, 3.500000) rotate(-90.000000) translate(-167.500000, -3.500000) translate(164.500000, -163.500000)'%3E%3Cpath d='M4.4825,280.255 C4.4905,280.121 4.5035,280.085 4.5175,280.075 C4.5135,279.963 4.5105,279.859 4.5045,279.745 L4.4825,280.255 Z' id='Fill-1' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(4.000000, 313.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M1.18833333,1.73775 C1.18833333,1.76025 1.19,1.77775 1.19,1.80525 C1.21333333,1.73025 1.235,1.64025 1.26333333,1.62025 C1.21666667,1.55025 1.21666667,1.55025 1.18833333,1.73775' id='Fill-3' fill='%231D1D1D' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M4.477,305.195 C4.491,305.059 4.505,304.925 4.523,304.805 C4.505,304.811 4.491,304.975 4.477,305.195' id='Fill-6' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M4.5365258,284.472 C4.4945258,284.586 4.4515258,284.988 4.4665258,285.528 C4.4865258,285.182 4.5125258,284.834 4.5365258,284.472' id='Fill-8' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M4.469,306.524 C4.491,306.246 4.51,305.806 4.531,305.476 C4.5,305.794 4.481,306.148 4.469,306.524' id='Fill-10' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-14' transform='translate(3.500000, 327.500000)'%3E%3Cmask id='mask-4' fill='white'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-13'%3E%3C/g%3E%3Cpath d='M1.17533333,2.5655 C1.20366667,2.303 1.22866667,2.0105 1.24866667,1.6955 C1.232,1.678 1.22033333,1.6255 1.20033333,1.6305 L1.17533333,2.5655 Z' id='Fill-12' fill='%231D1D1D' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M1.547,5.33839917 C1.518,5.21639917 1.487,5.00839917 1.453,4.63039917 C1.472,5.32239917 1.505,5.43839917 1.547,5.33839917' id='Fill-15' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M1.485,21.8095599 C1.497,22.0695599 1.51,22.2475599 1.515,22.1735599 C1.507,22.0435599 1.497,21.9195599 1.485,21.8095599' id='Fill-17' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M2.475,11.0794251 C2.495,11.0594251 2.511,11.0154251 2.525,10.9514251 C2.51,10.8894251 2.494,10.9154251 2.475,11.0794251' id='Fill-19' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M5.4775,139.205 L5.5225,138.795 C5.4985,138.865 5.4865,139.017 5.4775,139.205' id='Fill-21' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-25' transform='translate(4.000000, 162.000000)'%3E%3Cmask id='mask-6' fill='white'%3E%3Cuse xlink:href='%23path-5'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-24'%3E%3C/g%3E%3Cpath d='M1.09383333,1.19675 C1.0905,1.44675 1.08383333,1.66675 1.0905,1.77425 C1.09383333,1.57425 1.09383333,1.38675 1.09383333,1.19675' id='Fill-23' fill='%231D1D1D' mask='url(%23mask-6)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-28' transform='translate(3.500000, 329.500000)'%3E%3Cmask id='mask-8' fill='white'%3E%3Cuse xlink:href='%23path-7'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-27'%3E%3C/g%3E%3Cpath d='M0.755333333,0.959 C0.885333333,1.6365 0.923666667,3.319 1.09033333,3.359 L1.17533333,0.0665 C1.05033333,1.234 0.867,1.834 0.755333333,0.959' id='Fill-26' fill='%231D1D1D' mask='url(%23mask-8)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-31' transform='translate(1.000000, 86.000000)'%3E%3Cmask id='mask-10' fill='white'%3E%3Cuse xlink:href='%23path-9'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-30'%3E%3C/g%3E%3Cpath d='M0.574333333,0.43075 C0.584333333,1.49825 0.609333333,2.03575 0.644333333,2.30325 C0.622666667,1.65825 0.607666667,0.99575 0.582666667,0.37575 L0.574333333,0.43075 Z' id='Fill-29' fill='%231D1D1D' mask='url(%23mask-10)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M1.5045,107.016 C1.5015,106.99 1.4975,106.962 1.4955,106.94 C1.4955,106.982 1.4985,107.016 1.4995,107.06 L1.5045,107.016 Z' id='Fill-32' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-36' transform='translate(0.000000, 83.000000)'%3E%3Cmask id='mask-12' fill='white'%3E%3Cuse xlink:href='%23path-11'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-35'%3E%3C/g%3E%3Cpath d='M0.812375,1.5165 C0.792375,1.3915 0.774875,1.254 0.749875,1.179 C0.753625,1.5865 0.779875,1.609 0.812375,1.5165' id='Fill-34' fill='%231D1D1D' mask='url(%23mask-12)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M1.5618457,106.044105 L1.4168457,107.344105 C1.4408457,107.518105 1.4628457,107.696105 1.4908457,107.930105 C1.6018457,108.170105 1.5948457,106.672105 1.5618457,106.044105' id='Fill-37' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-41' transform='translate(1.000000, 83.000000)'%3E%3Cmask id='mask-14' fill='white'%3E%3Cuse xlink:href='%23path-13'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-40'%3E%3C/g%3E%3Cpath d='M0.4165,1.0165 C0.5015,1.4415 0.549833333,2.0965 0.583166667,2.874 L0.713166667,1.9915 C0.704833333,-0.1735 0.524833333,0.7965 0.4165,1.0165' id='Fill-39' fill='%231D1D1D' mask='url(%23mask-14)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-44' transform='translate(1.000000, 70.000000)'%3E%3Cmask id='mask-16' fill='white'%3E%3Cuse xlink:href='%23path-15'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-43'%3E%3C/g%3E%3Cpath d='M1.02683333,1.40175 C1.07183333,1.61925 1.13516667,1.91675 1.20516667,2.10425 L1.0635,1.14425 L1.02683333,1.40175 Z' id='Fill-42' fill='%231D1D1D' mask='url(%23mask-16)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-47' transform='translate(1.000000, 70.000000)'%3E%3Cmask id='mask-18' fill='white'%3E%3Cuse xlink:href='%23path-17'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-46'%3E%3C/g%3E%3Cpath d='M0.981166667,1.7095 L1.02616667,1.402 C0.956166667,1.082 0.927833333,0.9545 0.981166667,1.7095' id='Fill-45' fill='%231D1D1D' mask='url(%23mask-18)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-50' transform='translate(0.500000, 0.500000)'%3E%3Cmask id='mask-20' fill='white'%3E%3Cuse xlink:href='%23path-19'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-49'%3E%3C/g%3E%3Cpath d='M4.76136,326.39049 C4.65456,326.580072 4.43976,323.971168 4.41456,326.515442 C4.29456,326.483127 4.23456,324.964318 4.23456,323.962551 C4.29336,324.483901 4.55976,322.002103 4.64016,324.358949 C4.50696,322.099048 4.64016,323.357182 4.58016,320.843069 C4.65936,321.19638 4.58496,316.456836 4.83576,316.747672 C4.73136,315.948412 4.46256,316.788604 4.45656,313.873785 C4.28016,314.580407 4.24776,317.82915 4.06416,315.648959 L4.17816,317.066514 C4.09176,319.095901 3.99696,316.510695 3.91896,319.162685 C3.93216,318.382815 3.83736,316.803685 3.96456,316.452527 C3.59136,317.12899 3.78816,312.518706 3.51696,312.387291 C3.62976,311.803465 3.64176,311.032212 3.61536,309.57588 C3.71496,309.776233 3.81456,308.970511 3.88176,310.099384 C3.84816,311.034367 3.88776,311.712983 3.80256,312.742757 C4.17336,312.171857 3.92736,308.976974 4.01016,306.56196 C3.98016,306.898037 3.94416,306.994982 3.89256,306.327137 C3.95136,304.849261 4.02456,301.589747 4.19736,302.526885 L4.16736,295.081491 C4.25376,295.047022 4.20096,296.14358 4.22856,296.598146 L4.24536,292.440273 C4.36536,291.47082 4.35936,293.855673 4.47336,294.275769 L4.47216,291.27693 L4.58616,291.697026 C4.51176,290.960242 4.48416,287.506838 4.67016,286.670955 C4.62096,283.383434 4.24176,283.441602 4.42056,278.995047 C4.60656,279.160931 4.48176,281.511314 4.60056,282.543242 C4.66776,281.675044 4.53936,279.029517 4.71936,278.581414 C4.61856,275.388685 4.28616,275.737688 4.10496,274.190873 C4.09656,271.581969 4.26456,273.904346 4.31736,273.800938 C4.33056,273.02753 3.98976,271.769397 4.24296,271.064928 C4.10856,269.80464 3.94896,269.093708 3.88416,270.96152 C3.88896,269.57628 3.80136,267.609369 3.72096,267.258212 C3.99456,268.380622 3.83496,265.672619 4.06056,265.519661 C4.11336,263.421336 4.19016,258.778737 3.89616,256.811826 L4.19616,257.397806 L4.16856,254.944014 C4.35456,253.110673 4.35576,257.10697 4.37016,258.330634 C4.40856,255.008645 4.39416,252.785367 4.39176,249.786529 C4.32696,250.66119 4.26696,250.13984 4.17336,250.557782 C4.05216,249.528008 4.14456,248.110453 4.11216,247.044056 C4.18536,246.785535 4.25136,246.91695 4.27176,247.752833 L4.23696,245.693286 C4.42416,245.857015 4.42416,244.853094 4.54416,246.891098 L4.49016,244.988817 C4.54176,242.888337 4.64256,245.083608 4.70376,245.600649 L4.74096,242.280814 C4.64136,241.089465 4.57656,242.955122 4.52856,240.667214 C4.70016,237.608054 4.64496,233.704393 4.70376,230.222982 L4.52496,232.672465 C4.57656,230.57414 4.27776,230.994235 4.15056,230.347934 C4.18416,228.411184 4.17576,225.80228 4.25376,224.160674 C4.39416,226.03064 4.61376,225.261541 4.74696,223.520836 C4.77816,219.589168 4.45176,220.550003 4.35096,218.359041 C4.71936,220.067432 4.48416,215.616569 4.68336,216.00435 C4.68096,211.006285 4.55856,205.980213 4.57656,200.818419 C4.52256,200.919673 4.46376,202.397549 4.40976,201.492727 C4.35576,199.596909 4.50816,198.694241 4.58256,198.433566 C4.55376,195.984084 4.43976,194.570838 4.33416,193.758652 C4.36656,194.82505 4.31376,194.919841 4.21416,194.721641 C4.18656,192.274313 4.43376,192.95293 4.26576,190.628399 C4.46496,190.018721 4.35936,193.213605 4.55256,192.987399 C4.57176,190.824443 4.49016,189.469365 4.39656,187.890235 C4.52376,187.534769 4.42416,189.340104 4.53096,188.148755 C4.44936,184.798759 4.32696,180.765838 4.26576,178.249571 L4.43256,177.575263 C4.42536,175.963818 4.39056,174.899575 4.31736,174.158482 C4.38456,173.28813 4.42416,173.966746 4.44336,174.804784 C4.46256,172.646137 4.33656,169.998455 4.32216,168.772636 C4.42176,168.968681 4.33656,169.998455 4.41576,170.356075 C4.46136,167.648072 4.13856,164.229137 4.35816,162.453962 C4.38576,162.686631 4.38936,162.94946 4.38816,163.1929 C4.40856,159.183677 4.29456,155.687186 4.28616,151.331114 C4.49016,147.341279 4.03416,150.042819 4.06416,146.108997 C4.50936,146.087454 4.10136,140.76193 4.18656,139.103089 L4.12176,139.630902 C3.94656,137.691998 4.11336,135.018464 4.23816,133.665539 C4.27056,130.735639 4.27536,126.349407 4.10016,123.415198 L4.19376,123.999023 C4.07976,121.577547 4.22616,120.067356 4.11096,117.641571 C4.14336,117.708356 4.19736,118.613178 4.23096,117.67604 C4.39176,106.00599 4.12776,94.1054251 4.20096,82.4719982 C4.34976,60.1961401 4.48176,32.4590344 4.17576,10.5300248 C4.17576,10.5300248 2.34336,0.118107729 1.58736,1.67569433 C1.48776,2.54389266 1.34016,-0.478643982 1.29696,1.32669152 L1.50816,3.11479232 C1.40856,2.81749363 1.28616,3.83003263 1.19496,4.03254043 C1.39296,4.74993509 1.53216,1.74463315 1.79976,3.85157602 C1.92096,4.34061081 1.89336,5.9369755 1.86336,6.74485236 C1.90656,4.94382554 2.04936,6.79224781 2.12136,7.51610548 C2.03616,8.62558971 2.07096,10.4007645 1.93896,10.913497 C1.98576,11.0836897 2.00976,11.9432707 1.98696,12.5314051 L1.92096,12.5874179 C1.97616,13.9144903 1.98576,12.1393155 2.05536,12.4797009 C2.07696,13.4383815 1.92936,14.9378009 1.93536,16.5018506 C1.92936,14.9378009 1.83816,13.6365806 1.76616,12.5163247 C1.64136,15.3665143 1.42536,12.0122095 1.25136,11.3745254 C1.32936,13.664587 1.45056,14.543557 1.56096,16.415677 C1.41696,18.6906583 1.06656,16.2347126 1.04616,15.6595043 C1.13976,17.7405951 1.35216,19.9229398 1.42536,21.038887 C1.16496,19.4877635 1.08096,19.7549014 0.87096,18.3567358 C0.71376,20.0241937 0.90096,20.3645791 0.99936,21.1638387 C0.97656,20.6985016 0.95976,19.9811069 1.01256,19.8109142 C0.98616,21.7929054 1.39296,21.458983 1.56696,22.4930654 C1.45416,23.9580154 1.39656,26.7500379 1.15776,26.5626105 L1.41336,26.5432214 C1.47096,28.2623834 1.28136,27.4351175 1.19616,27.7001011 C1.36896,28.3442482 1.62216,27.5449887 1.68456,30.4425737 C1.27416,29.9944714 1.64256,33.023471 1.26816,32.9416062 C1.28976,34.2945306 1.49736,34.9106714 1.45176,36.3196086 C1.23576,37.8771952 0.95016,34.182505 1.01496,33.3444674 C1.00656,31.3883283 1.18656,33.602988 1.18296,32.8188089 L1.07376,30.9488432 C0.99216,31.991543 0.89736,34.0338557 0.72816,33.7839525 C0.80256,35.6862332 0.90816,32.2543723 1.00176,34.3419261 L0.90456,35.5979053 C0.99696,37.6789961 1.19136,35.1605746 1.23576,37.8771952 C1.05936,36.0589337 1.23096,40.8221757 0.95856,40.6562917 C1.29936,40.7683173 0.99456,45.5229419 1.26936,46.0895329 L1.34856,44.6525892 L1.19616,44.969277 C1.19016,43.4073817 1.10016,42.1061613 1.16256,40.4882533 C1.28616,41.7593129 1.44816,40.0573856 1.55736,41.5331074 C1.75536,44.3100494 1.37376,42.2741997 1.37496,42.6662893 L1.55376,44.8744861 L1.70016,43.3772209 C1.75896,45.0985373 1.76856,47.446766 1.74216,49.8186925 C1.53576,53.3259552 1.55376,49.3878248 1.35936,51.8997833 C1.43256,53.0221935 1.51656,52.7485926 1.48776,54.3449573 C1.58736,53.4832219 1.44816,52.8110684 1.46376,52.210008 C1.68216,51.4409092 1.55976,55.0709693 1.76256,54.9072396 C1.68096,55.5621584 1.59456,55.4372068 1.50696,54.9201656 C1.58616,57.6044711 1.54536,60.1875228 1.27776,61.1914444 L1.53696,62.3526328 C1.43616,66.945682 1.30416,59.2072988 1.13136,63.0721818 C1.10376,64.6685464 1.10976,66.2369047 1.21536,66.9349103 L1.22736,65.5539795 C1.36656,66.6117596 1.46856,66.5320491 1.55976,68.2210503 C1.53096,69.4231711 1.35816,68.7768696 1.49976,70.2288936 C1.37616,73.154485 1.19136,72.1182483 1.00056,71.2845194 C1.02096,72.4995662 1.01256,74.0722332 1.12056,74.2833583 C1.05936,74.3027474 0.94176,74.0916222 0.87576,73.3979253 C1.14096,70.969986 0.60456,72.4521707 0.89256,71.4396317 L0.90216,70.8967385 C0.88656,70.8450344 0.87216,70.7976389 0.85536,70.7610152 C0.79896,71.823104 0.70896,71.8209496 0.62856,71.5538117 L0.74856,72.542653 L0.50016,73.2772823 C0.46776,74.2079565 0.68136,74.8262516 0.53496,75.3389841 C0.32256,76.7242236 0.20736,73.3031344 0.11616,76.7134519 C0.03816,80.362901 0.43656,80.1431585 0.37896,82.6228019 C0.45216,82.3664356 0.44496,81.7502949 0.45696,80.9768874 C0.56496,81.7869186 0.65736,80.369364 0.73656,81.7265972 C0.51816,82.4956959 0.52656,85.106754 0.52776,87.1038256 C0.41016,86.5824757 0.29016,87.8621527 0.22416,87.2352402 C0.24936,88.2477792 0.28536,89.182762 0.38256,89.615784 C0.55296,85.5548563 0.55656,93.5496058 0.78216,90.3956545 C0.76296,93.5603775 0.56376,94.1679009 0.44496,96.1305031 C0.37896,96.0012428 0.31656,92.4853627 0.21816,95.2924655 C0.43896,98.5196643 0.53616,94.7172572 0.80496,97.2270613 L0.89016,95.1998289 C1.17096,94.945617 0.95256,98.7114004 1.01256,99.2349046 C0.93936,100.486575 0.93816,97.4898906 0.74616,98.7114004 C0.68016,100.581366 0.85416,101.520658 0.74736,102.714161 C0.56136,101.550818 0.63456,102.291911 0.46776,100.966993 C0.46296,105.351071 0.24696,100.740787 0.12216,104.088629 C0.15576,105.152872 0.32256,104.47641 0.27696,106.191263 C0.48216,105.189496 0.54936,105.318756 0.56136,102.548277 C0.85416,103.519883 0.48336,106.191263 0.65736,108.128013 C0.68376,106.579044 0.71736,107.643287 0.67656,105.965057 C0.92376,105.738852 0.96336,105.118403 1.19016,106.650137 C1.12776,104.84911 0.86376,104.067085 0.93936,101.486188 C1.19256,100.779565 1.12896,104.650911 1.45416,104.685381 C1.61616,105.969366 1.47216,109.088848 1.34856,110.510711 C1.54536,113.014052 1.54416,116.083984 1.83456,118.001346 C1.73496,119.808835 2.00376,124.326483 1.91136,127.738955 C1.76496,128.25815 1.80696,131.926988 1.65216,129.830817 C1.69896,130.125962 1.72176,132.958916 1.85376,132.219978 C1.80696,131.926988 1.84656,131.608146 1.83936,130.998469 L2.01936,131.543516 C1.94016,133.187276 2.16816,135.03139 2.05536,136.608366 C1.90896,137.123252 1.96776,133.643996 1.79496,134.70393 C2.06256,136.224893 2.16456,142.412153 2.04576,144.379064 C2.00616,145.699673 1.78056,145.854786 1.75416,146.406296 L1.76856,148.627419 C1.69416,148.88594 1.60776,148.920409 1.51536,149.331888 C1.46256,150.428446 1.53576,151.171693 1.57656,151.850309 C1.42536,154.747894 1.24296,153.198925 1.09656,151.712431 L1.17696,150.075134 C1.07616,148.881631 1.12176,147.171086 0.91536,148.172854 C0.93576,149.002274 1.02216,148.974267 1.06896,149.269412 L0.94896,150.230247 C1.03656,151.199699 1.07856,153.875387 1.23696,153.591014 C1.11936,155.551462 1.25256,157.809209 1.12056,159.549914 C1.22616,158.356411 1.28616,159.873065 1.41336,159.519753 L1.46616,157.425737 C1.50696,159.103966 1.62096,161.523288 1.50816,163.102418 C1.40856,162.906373 1.37496,162.843897 1.27536,163.643157 C1.41576,162.520747 1.44936,166.577366 1.62936,164.134346 C1.57536,163.233833 1.55496,162.391486 1.57416,161.228144 C1.79376,160.463354 1.81416,162.301004 1.93536,163.330778 C1.98216,164.619072 2.04336,167.137494 2.11776,168.878199 C2.06496,169.974757 1.81896,170.293599 1.95936,172.165719 C2.17056,169.783021 2.29896,174.423466 2.51256,175.041761 C2.41416,176.847096 2.68656,177.973815 2.50896,179.421531 C2.43456,178.682593 2.44656,175.905651 2.28576,175.199028 C2.13336,175.095619 1.88136,175.808705 1.80576,173.066233 C1.72176,176.358062 1.93416,175.002983 1.99176,176.519637 L1.97376,175.390764 C2.03496,175.903496 2.15256,174.936198 2.15376,175.937966 C2.08776,179.802849 1.92336,180.481465 1.72416,183.092523 C1.83696,182.510852 1.93776,183.704355 1.94496,184.320496 C1.79976,186.832455 1.61856,184.283872 1.38576,185.824224 C1.52616,186.698886 1.48056,188.40943 1.59336,187.832067 C1.59336,188.827372 1.53456,188.310331 1.48656,189.019108 C1.61496,189.665409 1.68696,190.41081 1.68216,191.791741 C1.61496,191.66679 1.51536,191.470745 1.55376,190.150136 C1.49496,191.63232 1.26216,192.173059 1.13616,191.528912 L1.22856,189.113899 C1.07376,188.017341 1.15536,191.367337 1.00176,191.2747 C0.96816,190.208303 1.06896,189.404734 1.02816,188.726118 C0.86136,189.40258 1.01496,191.496597 1.02936,192.722415 C0.99696,194.657011 0.83616,193.943925 0.74976,193.974086 C1.00536,197.265915 1.05456,190.175988 1.29576,193.241611 C1.48416,194.402799 1.45056,197.337008 1.48536,199.400864 C1.70376,197.627844 1.79136,199.599063 1.85976,201.72755 C1.87176,198.954916 2.11176,201.018772 1.97856,197.761413 L2.15016,197.698937 C2.14416,199.086331 2.06616,200.727937 2.05896,202.113176 C2.01336,201.824495 1.97376,202.145491 1.94496,201.690926 L2.01456,205.822947 L1.90056,205.402851 C1.87656,207.947124 1.73736,211.075223 1.79736,212.591878 C1.78416,211.363905 1.95696,210.30397 2.00376,211.592265 C2.07816,212.335511 2.15736,213.69059 2.13816,214.849624 C1.93896,215.459302 1.93536,219.845535 1.73976,217.070747 C1.83576,220.646949 1.87416,219.328494 1.98816,222.749583 L1.94136,220.457367 C2.10096,220.168685 2.36136,222.075275 2.46696,219.882158 C2.56176,222.460901 2.84736,220.819296 2.87616,224.2727 C2.77656,225.670866 2.55576,223.85045 2.51976,221.911545 C2.50416,222.88746 2.41536,223.775048 2.52336,224.785432 C2.39016,225.522216 2.29536,222.943473 2.24256,223.040418 C2.23056,224.817748 2.32896,223.008103 2.36976,224.684179 C2.54376,227.618387 2.09736,226.549836 2.20536,229.359093 C2.19816,228.745106 2.25096,227.652857 2.32536,228.391795 C2.31336,232.164041 2.48016,230.49012 2.55336,233.230439 C2.32176,234.777254 2.07456,234.094328 2.01576,236.573972 L2.02176,235.190886 C1.90176,236.15603 1.84896,237.250434 1.85016,238.252201 C2.03856,243.409687 2.38056,247.668814 2.54856,252.987875 L2.49456,251.085595 C2.57496,250.441447 2.58936,252.671188 2.67696,252.641027 L2.57016,253.828067 C2.73696,254.155527 2.73576,251.156688 2.89536,251.867619 C2.87496,252.02704 2.86896,252.416976 2.88336,252.643181 L2.93496,251.544469 C2.87616,254.026266 3.17016,255.995332 2.89776,257.863143 C2.87616,253.024499 2.41176,257.119896 2.33616,252.380352 C2.39736,254.89231 2.15736,252.8263 2.08416,253.082666 C2.04336,254.40543 2.21016,253.731122 2.15136,255.215461 C2.03136,255.178837 1.92936,251.986108 1.83696,253.403663 C2.02416,253.567392 1.98456,254.888002 2.11176,255.529994 C2.05776,256.626553 1.99056,255.504142 1.93176,255.98456 C1.93776,256.596392 2.01936,256.954012 1.99176,257.49906 L1.87896,257.083272 C1.70616,260.140278 2.05176,258.016101 1.99416,261.495357 C2.14656,261.594457 2.11416,260.528059 2.08656,259.080344 C2.42616,258.345715 2.44056,263.563522 2.80656,263.279149 C2.85576,266.56667 2.66736,262.408797 2.56896,265.211591 C2.33616,266.751943 2.32776,263.14558 2.16696,262.432494 L2.01576,265.336542 C1.72296,264.362782 1.82136,262.5596 1.55496,262.042559 C1.53576,264.201206 1.60896,263.94484 1.70976,266.137956 C1.94136,262.59407 1.88976,267.684771 2.18256,265.659693 C2.10336,267.299145 2.04216,266.784258 2.03736,269.166956 C1.97736,267.65461 1.79736,269.106634 1.79616,267.1031 C1.81176,270.328144 1.87896,269.455637 1.89216,272.678527 C2.09976,273.682449 2.17056,269.425477 2.31216,273.298977 C2.31216,274.137014 2.23416,273.973285 2.23656,273.482096 C2.14776,276.25042 2.49576,272.915505 2.59896,274.654056 C2.62296,275.864794 2.53896,276.29997 2.48976,275.800164 C2.60256,277.614116 2.74296,276.612349 2.78736,277.818779 L2.81376,277.269422 C2.87376,277.784309 3.17376,276.373218 3.18216,278.984276 C3.17736,280.888711 3.06096,280.291959 2.99016,280.335046 C3.05976,281.81723 2.99616,282.952567 2.92176,283.96726 C2.96256,283.866006 3.00336,283.978032 3.00336,284.426134 C3.06456,286.942401 2.82456,285.871695 2.79096,286.808832 C2.68056,290.391497 3.17856,286.365039 3.17976,290.361336 L3.25656,285.718737 C3.35736,285.914782 3.51096,286.016036 3.50976,285.014269 C3.35736,284.919478 3.23016,283.271409 3.25536,281.72244 C3.43536,281.276492 3.44376,285.884621 3.64176,283.273563 C3.60936,284.208546 3.65616,285.503303 3.63696,286.660183 C3.44976,285.498995 3.59256,290.367799 3.38616,288.364265 C3.42096,293.42696 3.28776,294.168052 3.41736,298.810651 C3.30336,298.390555 3.00816,295.424031 3.10056,293.006864 L3.20736,292.808665 C3.08616,289.781819 3.08256,295.167665 2.90136,294.616154 C3.18456,298.356086 2.74536,302.897431 2.84136,307.473245 C2.93976,306.669677 2.99496,307.576654 3.09456,307.770544 C3.07416,305.932894 3.03456,306.25389 3.15936,304.90312 C3.29256,305.16164 3.23976,306.258199 3.33456,306.83987 C3.48096,307.320287 3.33936,305.452476 3.41976,304.80402 C3.49296,306.551189 3.51336,306.387459 3.63456,307.421541 C3.51456,308.386685 3.44736,308.25527 3.31536,308.998517 C3.27696,313.317965 3.54216,312.835393 3.48456,316.316804 C3.51696,314.386517 3.33216,317.221626 3.38496,315.123301 L3.36456,316.286643 C3.15696,313.283496 3.17496,308.12601 2.82216,308.638742 C2.84976,311.088225 3.04296,312.865554 3.04416,315.85793 L2.97936,315.732978 C2.95896,317.895934 3.06456,315.700663 3.12576,316.213396 C3.23856,318.632718 2.78136,319.341495 3.02736,321.015416 L3.08616,318.537927 C3.22656,320.410047 3.11256,317.990725 3.34536,318.443136 C3.51456,321.765126 3.38376,327.504283 3.54456,332.211512 C3.67176,330.858588 3.67776,330.475116 3.68976,328.697786 C4.00416,329.503509 3.95736,330.216595 4.23096,329.350551 L4.24896,327.18975 L4.54176,327.159589 C4.54536,327.752032 4.52856,328.335858 4.49856,328.859362 C4.68216,329.158815 4.43616,332.138265 4.61136,332.28476 L4.58976,330.449263 C4.74336,329.546596 4.72416,331.709551 4.77096,333 C4.96416,331.776336 4.76976,329.001548 4.76136,326.39049' id='Fill-48' fill='%23B87248' mask='url(%23mask-20)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      width: 335px;
      height: 7px;
      background-size: cover;
      margin-bottom: 30px;
      display: block;
      margin-top: 15px;

    }
  }
  .close-button{
    color: $primary-color;
  }
  .item-list__links{
    margin:0;
  }
  .facet-item{
    list-style: none;
    a{
      font-size:24px;
      text-transform: lowercase;
      color: $primary-color;
      display: block;
      margin-bottom:22px;
      .facet-item__value{
        display: flex;
        align-items: center;
        &:before{
          content: '';
          display: inline-block;
          width:25px;
          min-width:25px;
          height: 25px;
          border:2px solid $primary-color;
          margin-right:35px;
          vertical-align: middle;
        }
      }
      &.is-active{
        .facet-item__value{
          &:before{
            background: #fff;
          }
        }
      }
      .facet-item__status{
        display: none;
      }
    }
  }
  &.desktop{
    display: none;
  }

  @media screen and (min-width: $sidebar-breakpoint){
    .block-title{
      font-size:18px;
    }
    .facet-item {
      a {
        font-size: 18px;
      }
    }
  }
  @include breakpoint(large){
    .block-title{
      font-size:24px;
    }
    .facet-item {
      a {
        font-size: 24px;
      }
    }
  }
}
@media screen and (min-width: $sidebar-breakpoint){
  .filter-button{
    display: none;
  }
  .facet-filter-content{
    &.desktop{
      display: block;
    }
  }
  .region-content{
    .block-category-facet{
      width:33.333%;
      max-width:480px;
      padding:0 30px 0 0;
      .facet-filter-content{
        padding:50px 30px;
        height:100%;
        display: flex;
        justify-content: flex-end;
        & > div{
          width:100%;
          max-width:350px;
        }
      }
    }
    .block-views-block-products-block-1{
      width:66.666%;
      & > div{
        max-width:840px;
      }
    }
  }
}

// Products list
.block-views-block-products-block-1{
  padding:0 30px;
  margin-bottom:70px;
  .item-list{
    & > ul{
      margin:0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-left:-30px;
      margin-right:-30px;
      & > li{
        list-style: none;
        margin-bottom:50px;
        padding:0 30px;
      }
      @include breakpoint(medium){
        justify-content: flex-start;
        & > li{
          width:50%;
        }
      }
    }
  }
  .pagination{
    .pager__item{
      display: inline-block;
      padding: 0;
      background: none;
      a{
        color: #B87248;
        font-weight: $global-weight-bold;
        transition: all 0.2s;
        font-size: 16px;
        letter-spacing: 0.61px;
        &:hover,
        &:focus{
          color: $black;
          background: none;
        }
      }
      &.is-active{
        a{
          color: #fff;
          background: #B87248;
        }
      }
    }
  }
}
article.product-teaser{
  position: relative;
  max-width: 390px;
  figure{
    margin-bottom:20px;
  }
  .info-text{
    display: flex;
    justify-content: space-between;
    font-weight: $global-weight-bold;
    color: $primary-color;
    font-size:16px;
    margin-bottom:30px;
    h1{
      line-height:16px;
      margin:0;
      font-size:0;
      a{
        text-transform: uppercase;
        font-size:16px;
        font-weight: $global-weight-bold;
      }
    }
    .price{
      white-space: nowrap;
      padding-left:10px;
      line-height:16px;
    }
  }
  .product-tag{
    display: block;
    position: absolute;
    top:-17px;
    left:50%;
    transform: translateX(-50%);
    background: $primary-color;
    padding:5px 20px;
    font-size:16px;
    text-align: center;
    color: #fff;
  }
}

// Product detail
// Detail
.path-product{
  @include breakpoint(large){
    .region-page-header{
      margin-top:165px;
    }
  }
}
.product-detail{
  width:100%;
  color: $primary-color;
  .product-content{
    width:100%;
    max-width:1200px;
    margin: 25px auto;
    padding:0 30px;
  }
  .product-info{
    margin-bottom:25px;
    .price{
      font-weight:$global-weight-bold;
      margin-bottom:15px;
    }
  }
  .field-paragraph--field-label-long{
    max-width:340px;
  }
  @include breakpoint(medium){
    .product-content{
      margin-bottom:85px;
      h1{
        margin-bottom:30px;
      }
      .field-name-body{
        margin-bottom:30px;
      }
    }
    .field-paragraph--field-label-long{
      max-width:560px;
    }
    .commerce-order-item-add-to-cart-form{
      .button--add-to-cart{
        font-family: $body-font-family;
        font-size:16px;
        font-weight: $global-weight-normal;
        text-transform: lowercase;
        color: #fff;
        width:auto;
        padding: 0 15px 0 55px;
        background-position: 15px center;
      }
    }
  }
  @media screen and (min-width: 990px){
    .product-content{
      display: flex;
      .product-info{
        width:45%;
        padding-right:80px;
      }
      .product-image{
        width:55%;
      }
    }
    .commerce-order-item-add-to-cart-form{
      .button--add-to-cart{
        padding:0;
        font-size:0;
        color: transparent;
        width:53px;
        background-position: center;
      }
    }
  }
  @include breakpoint(large){
    .product-content{
      .product-info{
        padding-right:120px;
        ul.breadcrumbs{
          margin-bottom:50px;
        }
      }
    }
    .commerce-order-item-add-to-cart-form{
      .button--add-to-cart{
        font-family: $body-font-family;
        font-size:16px;
        font-weight: $global-weight-normal;
        text-transform: lowercase;
        color: #fff;
        width:auto;
        padding: 0 15px 0 55px;
        background-position: 15px center;
      }
    }
  }
}
