.checkout-pane-review{
  padding-bottom: 0!important;
  & > h2{
    margin-bottom:25px;
    font-size:20px;
    @include breakpoint(medium){
      font-size:28px;
    }
  }
  & > fieldset{
    & > legend{
      .fieldset-legend{
        letter-spacing: 1px;
        color: $primary-color;
        a{
          text-transform: lowercase;
          font-weight:$global-weight-normal;
        }
      }
    }
    & > .fieldset-wrapper{
      & > div{
        padding-left:0;
      }
    }
  }
  #edit-review-payment-information{
    font-size:0;
    color: transparent;
    margin-bottom:35px;
    & > legend{
      display: none;
    }
    div[data-drupal-selector^="edit-review-payment-information-summary-profile"]{
      margin-top:0;
      font-size:$global-font-size;
      color: $body-font-color;
      .address{
        margin:0;
      }
      .country{
        display: none;
      }
    }
  }
}