// Place any Drupal-related quirks here.
#toolbar-bar{
  z-index:9999999999999;
}
.role-webmaster #toolbar-item-administration-tray,
.role-webmaster #toolbar-item-administration {
  display: none!important;
}