// @file
// Place your mixins here. Feel free to roll your own mixins.
@mixin button{
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-weight: $global-weight-bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $primary-color;
  border:2px solid $primary-color;
  padding: 8px 60px 8px 20px;
  background: #fff url('../images/icons/chevron-right-white.svg')no-repeat;
  background-position: right 0 center;
  background-size: 38px;
  transition: all 0.2s;
  &:hover,
  &:focus{
    background-color: $primary-color;
    color: #fff;
  }
}
@mixin button-negative{
  @include button();
  color: #fff;
  border:2px solid #fff;
  background: transparent url('../images/icons/chevron-right-black.svg')no-repeat center center;
  background-position: right 0 center;
  background-size: 38px;
  &:hover,
  &:focus{
    background-color: #fff;
    color: #000;
  }
}