.block-contact-map{
  max-width:1370px;
  margin:0 auto 50px;
  display: flex;
  flex-direction: column-reverse;
  .conact-info-wrapper{
    padding:0 30px;
    .contact-details{
      position: relative;
      margin-bottom:40px;
      &:after{
        content: '';
        display: block;
        width:118px;
        height:7px;
        margin-top:40px;
        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='118px' height='7px' viewBox='0 0 118 7' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3EGroup 59%3C/title%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0.3925 0.147078546 1.745 0.147078546 1.745 0.98041188 0.3925 0.98041188'%3E%3C/polygon%3E%3Cpolygon id='path-3' points='0.378666667 0.211958235 1.745 0.211958235 1.745 0.836958235 0.378666667 0.836958235'%3E%3C/polygon%3E%3Cpolygon id='path-5' points='0.257407075 0.0785 1.745 0.0785 1.745 0.911833333 0.257407075 0.911833333'%3E%3C/polygon%3E%3Cpolygon id='path-7' points='0.132 0.016625 1.745 0.016625 1.745 0.83975 0.132 0.83975'%3E%3C/polygon%3E%3Cpolygon id='path-9' points='0.333333333 0.0298333333 1.44266667 0.0298333333 1.44266667 0.863166667 0.333333333 0.863166667'%3E%3C/polygon%3E%3Cpolygon id='path-11' points='0.75 0.0400687419 1.406125 0.0400687419 1.406125 0.873402075 0.75 0.873402075'%3E%3C/polygon%3E%3Cpolygon id='path-13' points='0.333333333 0.163937336 1.39816667 0.163937336 1.39816667 0.997270669 0.333333333 0.997270669'%3E%3C/polygon%3E%3Cpolygon id='path-15' points='0.333333333 0.12475 1.94933333 0.12475 1.94933333 0.958083333 0.333333333 0.958083333'%3E%3C/polygon%3E%3Cpolygon id='path-17' points='0.333333333 0.0598744415 1.82314243 0.0598744415 1.82314243 0.893207775 0.333333333 0.893207775'%3E%3C/polygon%3E%3Cpolygon id='path-19' points='0.105996724 0.258025628 4.85621263 0.258025628 4.85621263 116 0.105996724 116'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='5.0-Contact' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Group-59' transform='translate(59.000000, 3.500000) rotate(90.000000) translate(-59.000000, -3.500000) translate(56.000000, -55.000000)'%3E%3Cpath d='M3.9825,98.1275 C3.9905,98.0605 4.0035,98.0425 4.0175,98.0375 C4.0135,97.9815 4.0105,97.9295 4.0045,97.8725 L3.9825,98.1275 Z' id='Fill-1' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-5' transform='translate(4.000000, 109.000000)'%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-4'%3E%3C/g%3E%3Cpath d='M1.18833333,0.57925 C1.18833333,0.58675 1.19,0.592583333 1.19,0.60175 C1.21333333,0.57675 1.235,0.54675 1.26333333,0.540083333 C1.21666667,0.51675 1.21666667,0.51675 1.18833333,0.57925' id='Fill-3' fill='%231D1D1D' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M3.977,106.0975 C3.991,106.0295 4.005,105.9625 4.023,105.9025 C4.005,105.9055 3.991,105.9875 3.977,106.0975' id='Fill-6' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M4.0365258,98.736 C3.9945258,98.793 3.9515258,98.994 3.9665258,99.264 C3.9865258,99.091 4.0125258,98.917 4.0365258,98.736' id='Fill-8' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M3.969,107.262 C3.991,107.123 4.01,106.903 4.031,106.738 C4,106.897 3.981,107.074 3.969,107.262' id='Fill-10' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-14' transform='translate(4.000000, 114.000000)'%3E%3Cmask id='mask-4' fill='white'%3E%3Cuse xlink:href='%23path-3'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-13'%3E%3C/g%3E%3Cpath d='M1.17533333,0.641375 C1.20366667,0.57575 1.22866667,0.502625 1.24866667,0.423875 C1.232,0.4195 1.22033333,0.406375 1.20033333,0.407625 L1.17533333,0.641375 Z' id='Fill-12' fill='%231D1D1D' mask='url(%23mask-4)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M1.047,2.16919958 C1.018,2.10819958 0.987,2.00419958 0.953,1.81519958 C0.972,2.16119958 1.005,2.21919958 1.047,2.16919958' id='Fill-15' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M0.985,7.90477996 C0.997,8.03477996 1.01,8.12377996 1.015,8.08677996 C1.007,8.02177996 0.997,7.95977996 0.985,7.90477996' id='Fill-17' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M1.975,4.03971257 C1.995,4.02971257 2.011,4.00771257 2.025,3.97571257 C2.01,3.94471257 1.994,3.95771257 1.975,4.03971257' id='Fill-19' fill='%231D1D1D'%3E%3C/path%3E%3Cpath d='M4.9775,49.1025 L5.0225,48.8975 C4.9985,48.9325 4.9865,49.0085 4.9775,49.1025' id='Fill-21' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-25' transform='translate(4.000000, 57.000000)'%3E%3Cmask id='mask-6' fill='white'%3E%3Cuse xlink:href='%23path-5'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-24'%3E%3C/g%3E%3Cpath d='M1.09383333,0.398916667 C1.0905,0.48225 1.08383333,0.555583333 1.0905,0.591416667 C1.09383333,0.52475 1.09383333,0.46225 1.09383333,0.398916667' id='Fill-23' fill='%231D1D1D' mask='url(%23mask-6)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-28' transform='translate(4.000000, 115.000000)'%3E%3Cmask id='mask-8' fill='white'%3E%3Cuse xlink:href='%23path-7'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-27'%3E%3C/g%3E%3Cpath d='M0.755333333,0.23975 C0.885333333,0.409125 0.923666667,0.82975 1.09033333,0.83975 L1.17533333,0.016625 C1.05033333,0.3085 0.867,0.4585 0.755333333,0.23975' id='Fill-26' fill='%231D1D1D' mask='url(%23mask-8)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-31' transform='translate(1.000000, 30.000000)'%3E%3Cmask id='mask-10' fill='white'%3E%3Cuse xlink:href='%23path-9'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-30'%3E%3C/g%3E%3Cpath d='M0.574333333,0.143583333 C0.584333333,0.499416667 0.609333333,0.678583333 0.644333333,0.76775 C0.622666667,0.55275 0.607666667,0.331916667 0.582666667,0.12525 L0.574333333,0.143583333 Z' id='Fill-29' fill='%231D1D1D' mask='url(%23mask-10)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M1.0045,37.008 C1.0015,36.995 0.9975,36.981 0.9955,36.97 C0.9955,36.991 0.9985,37.008 0.9995,37.03 L1.0045,37.008 Z' id='Fill-32' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-36' transform='translate(0.000000, 29.000000)'%3E%3Cmask id='mask-12' fill='white'%3E%3Cuse xlink:href='%23path-11'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-35'%3E%3C/g%3E%3Cpath d='M0.812375,0.5055 C0.792375,0.463833333 0.774875,0.418 0.749875,0.393 C0.753625,0.528833333 0.779875,0.536333333 0.812375,0.5055' id='Fill-34' fill='%231D1D1D' mask='url(%23mask-12)'%3E%3C/path%3E%3C/g%3E%3Cpath d='M1.0618457,36.5220527 L0.9168457,37.1720527 C0.9408457,37.2590527 0.9628457,37.3480527 0.9908457,37.4650527 C1.1018457,37.5850527 1.0948457,36.8360527 1.0618457,36.5220527' id='Fill-37' fill='%231D1D1D'%3E%3C/path%3E%3Cg id='Group-41' transform='translate(1.000000, 29.000000)'%3E%3Cmask id='mask-14' fill='white'%3E%3Cuse xlink:href='%23path-13'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-40'%3E%3C/g%3E%3Cpath d='M0.4165,0.338833333 C0.5015,0.4805 0.549833333,0.698833333 0.583166667,0.958 L0.713166667,0.663833333 C0.704833333,-0.0578333333 0.524833333,0.2655 0.4165,0.338833333' id='Fill-39' fill='%231D1D1D' mask='url(%23mask-14)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-44' transform='translate(1.000000, 24.000000)'%3E%3Cmask id='mask-16' fill='white'%3E%3Cuse xlink:href='%23path-15'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-43'%3E%3C/g%3E%3Cpath d='M1.02683333,0.46725 C1.07183333,0.53975 1.13516667,0.638916667 1.20516667,0.701416667 L1.0635,0.381416667 L1.02683333,0.46725 Z' id='Fill-42' fill='%231D1D1D' mask='url(%23mask-16)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-47' transform='translate(1.000000, 24.000000)'%3E%3Cmask id='mask-18' fill='white'%3E%3Cuse xlink:href='%23path-17'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-46'%3E%3C/g%3E%3Cpath d='M0.981166667,0.569833333 L1.02616667,0.467333333 C0.956166667,0.360666667 0.927833333,0.318166667 0.981166667,0.569833333' id='Fill-45' fill='%231D1D1D' mask='url(%23mask-18)'%3E%3C/path%3E%3C/g%3E%3Cg id='Group-50' transform='translate(1.000000, -0.000000)'%3E%3Cmask id='mask-20' fill='white'%3E%3Cuse xlink:href='%23path-19'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-49'%3E%3C/g%3E%3Cpath d='M4.76136,113.697588 C4.65456,113.763629 4.43976,112.854821 4.41456,113.741115 C4.29456,113.729858 4.23456,113.200783 4.23456,112.851819 C4.29336,113.033431 4.55976,112.168901 4.64016,112.989904 C4.50696,112.202671 4.64016,112.64094 4.58016,111.765153 C4.65936,111.888229 4.58496,110.237216 4.83576,110.338528 C4.73136,110.060108 4.46256,110.352787 4.45656,109.337414 C4.28016,109.583565 4.24776,110.715259 4.06416,109.955794 L4.17816,110.449596 C4.09176,111.15653 3.99696,110.255978 3.91896,111.179794 C3.93216,110.908128 3.83736,110.35804 3.96456,110.235715 C3.59136,110.47136 3.78816,108.865375 3.51696,108.819597 C3.62976,108.616222 3.64176,108.347557 3.61536,107.840246 C3.71496,107.910039 3.81456,107.629367 3.88176,108.022608 C3.84816,108.348308 3.88776,108.584703 3.80256,108.943423 C4.17336,108.744551 3.92736,107.631618 4.01016,106.790353 C3.98016,106.907424 3.94416,106.941195 3.89256,106.708552 C3.95136,106.193737 4.02456,105.05829 4.19736,105.384741 L4.16736,102.79115 C4.25376,102.779143 4.20096,103.161127 4.22856,103.319474 L4.24536,101.871086 C4.36536,101.533379 4.35936,102.364138 4.47336,102.510478 L4.47216,101.465837 L4.58616,101.612177 C4.51176,101.35552 4.48416,100.152532 4.67016,99.8613536 C4.62096,98.7161513 4.24176,98.7364138 4.42056,97.1874639 C4.60656,97.2452494 4.48176,98.0640014 4.60056,98.4234719 C4.66776,98.1210364 4.53936,97.1994713 4.71936,97.0433756 C4.61856,95.9311936 4.28616,96.0527681 4.10496,95.5139377 C4.09656,94.6051304 4.26456,95.4141265 4.31736,95.3781044 C4.33056,95.1086892 3.98976,94.6704204 4.24296,94.42502 C4.10856,93.9860008 3.94896,93.7383489 3.88416,94.3889979 C3.88896,93.906452 3.80136,93.2212818 3.72096,93.0989568 C3.99456,93.4899466 3.83496,92.5466181 4.06056,92.4933354 C4.11336,91.7623872 4.19016,90.1451455 3.89616,89.4599753 L4.19616,89.6641005 L4.16856,88.8093264 C4.35456,88.1706847 4.35576,89.5627884 4.37016,89.9890498 C4.40856,88.8318402 4.39416,88.0573652 4.39176,87.0127247 C4.32696,87.3174115 4.26696,87.1358001 4.17336,87.2813894 C4.05216,86.9226694 4.14456,86.4288666 4.11216,86.0573888 C4.18536,85.9673336 4.25136,86.0131117 4.27176,86.3042902 L4.23696,85.5868503 C4.42416,85.6438853 4.42416,85.2941708 4.54416,86.0041062 L4.49016,85.3414498 C4.54176,84.6097511 4.64256,85.3744701 4.70376,85.5545805 L4.74096,84.3981213 C4.64136,83.9831169 4.57656,84.6330154 4.52856,83.8360267 C4.70016,82.7703732 4.64496,81.4105393 4.70376,80.1977957 L4.52496,81.0510689 C4.57656,80.3201207 4.27776,80.4664604 4.15056,80.2413223 C4.18416,79.5666586 4.17576,78.6578513 4.25376,78.0860007 C4.39416,78.7374001 4.61376,78.4694858 4.74696,77.863114 C4.77816,76.4935242 4.45176,76.8282294 4.35096,76.0650114 C4.71936,76.6601263 4.48416,75.1096756 4.68336,75.2447584 C4.68096,73.5036908 4.55856,71.7528671 4.57656,69.9547645 C4.52256,69.9900361 4.46376,70.5048518 4.40976,70.1896585 C4.35576,69.5292536 4.50816,69.2148108 4.58256,69.1240051 C4.55376,68.2707318 4.43976,67.77843 4.33416,67.4955065 C4.36656,67.8669843 4.31376,67.9000045 4.21416,67.8309622 C4.18656,66.9784394 4.43376,67.2148343 4.26576,66.4050878 C4.46496,66.1927076 4.35936,67.30564 4.55256,67.2268417 C4.57176,66.4733797 4.49016,66.0013402 4.39656,65.4512529 C4.52376,65.327427 4.42416,65.9563126 4.53096,65.5413081 C4.44936,64.3743425 4.32696,62.969481 4.26576,62.0929435 L4.43256,61.8580495 C4.42536,61.2967053 4.39056,60.9259779 4.31736,60.6678196 C4.38456,60.3646337 4.42416,60.6010287 4.44336,60.8929577 C4.46256,60.1409966 4.33656,59.218681 4.32216,58.7916692 C4.42176,58.859961 4.33656,59.218681 4.41576,59.3432574 C4.46136,58.3999289 4.13856,57.2089486 4.35816,56.5905694 C4.38576,56.6716191 4.38936,56.7631753 4.38816,56.8479773 C4.40856,55.4513709 4.29456,54.233374 4.28616,52.7159435 C4.49016,51.3260912 4.03416,52.2671683 4.06416,50.896828 C4.50936,50.8893233 4.10136,49.0341858 4.18656,48.4563314 L4.12176,48.6401942 C3.94656,47.96478 4.11336,47.0334589 4.23816,46.5621699 C4.27056,45.541544 4.27536,44.0136071 4.10016,42.9914803 L4.19376,43.194855 C4.07976,42.3513378 4.22616,41.8252652 4.11096,40.980247 C4.14336,41.0035113 4.19736,41.3187045 4.23096,40.9922543 C4.39176,36.9270115 4.12776,32.7814694 4.20096,28.7289844 C4.34976,20.969226 4.48176,11.307051 4.17576,3.66811674 C4.17576,3.66811674 2.34336,0.0411426325 1.58736,0.583725351 C1.48776,0.886160808 1.34016,-0.16673484 1.29696,0.4621508 L1.50816,1.08503276 C1.40856,0.981469252 1.28616,1.33418554 1.19496,1.4047288 C1.39296,1.65463204 1.53216,0.607740077 1.79976,1.34169014 C1.92096,1.51204461 1.89336,2.06813561 1.86336,2.34955818 C1.90656,1.72217346 2.04936,2.3660683 2.12136,2.61822293 C2.03616,3.00470993 2.07096,3.62308913 1.93896,3.80169865 C1.98576,3.86098501 2.00976,4.16041862 1.98696,4.36529425 L1.92096,4.38480622 C1.97616,4.8470897 1.98576,4.2287105 2.05536,4.34728321 C2.07696,4.68123799 1.92936,5.20355829 1.93536,5.74839239 C1.92936,5.20355829 1.83816,4.75028033 1.76616,4.36004103 C1.64136,5.35289987 1.42536,4.18443335 1.25136,3.96229713 C1.32936,4.76003631 1.45056,5.06622407 1.56096,5.71837398 C1.41696,6.51085994 1.06656,5.65533532 1.04616,5.45496245 C1.13976,6.179907 1.35216,6.94012317 1.42536,7.32886155 C1.16496,6.78853021 1.08096,6.88158728 0.87096,6.39453861 C0.71376,6.9753948 0.90096,7.09396751 0.99936,7.37238824 C0.97656,7.21028884 0.95976,6.9603856 1.01256,6.90109924 C0.98616,7.59152262 1.39296,7.47520129 1.56696,7.83542218 C1.45416,8.34573511 1.39656,9.31833152 1.15776,9.25304148 L1.41336,9.24628734 C1.47096,9.84515457 1.28136,9.55697786 1.19616,9.64928446 C1.36896,9.87367206 1.62216,9.59525133 1.68456,10.6046203 C1.27416,10.4485246 1.64256,11.5036716 1.26816,11.4751541 C1.28976,11.9464431 1.49736,12.1610747 1.45176,12.6518757 C1.23576,13.1944584 0.95016,11.9074192 1.01496,11.6154902 C1.00656,10.9340723 1.18656,11.7055454 1.18296,11.4323779 L1.07376,10.7809784 C0.99216,11.1442012 0.89736,11.8556374 0.72816,11.768584 C0.80256,12.4312404 0.90816,11.2357573 1.00176,11.9629532 L0.90456,12.4004715 C0.99696,13.1254161 1.19136,12.2481281 1.23576,13.1944584 C1.05936,12.56107 1.23096,14.2203375 0.95856,14.1625521 C1.29936,14.201576 0.99456,15.8578416 1.26936,16.0552127 L1.34856,15.5546557 L1.19616,15.6649734 C1.19016,15.1208897 1.10016,14.6676118 1.16256,14.1040162 C1.28616,14.5467877 1.44816,13.9539241 1.55736,14.4679893 C1.75536,15.4353325 1.37376,14.7261477 1.37496,14.8627314 L1.55376,15.6319531 L1.70016,15.1103833 C1.75896,15.710001 1.76856,16.5280026 1.74216,17.3542592 C1.53576,18.5760084 1.55376,17.2041672 1.35936,18.0792038 C1.43256,18.4701935 1.51656,18.3748851 1.48776,18.9309761 C1.58736,18.630792 1.44816,18.3966484 1.46376,18.1872701 C1.68216,17.9193558 1.55976,19.1838812 1.76256,19.1268462 C1.68096,19.3549861 1.59456,19.3114594 1.50696,19.131349 C1.58616,20.0664224 1.54536,20.9662241 1.27776,21.3159386 L1.53696,21.7204366 C1.43616,23.3204178 1.30416,20.6247648 1.13136,21.9710903 C1.10376,22.5271813 1.10976,23.0735164 1.21536,23.3166655 L1.22736,22.8356205 C1.36656,23.2040964 1.46856,23.1763294 1.55976,23.7646902 C1.53096,24.183447 1.35816,23.9583089 1.49976,24.4641191 C1.37616,25.483244 1.19136,25.1222727 1.00056,24.8318446 C1.02096,25.2551041 1.01256,25.8029401 1.12056,25.8764852 C1.05936,25.8832393 0.94176,25.8096942 0.87576,25.568046 C1.14096,24.7222774 0.60456,25.238594 0.89256,24.8858777 L0.90216,24.6967618 C0.88656,24.6787507 0.87216,24.6622406 0.85536,24.6494828 C0.79896,25.0194596 0.70896,25.0187092 0.62856,24.9256521 L0.74856,25.2701133 L0.50016,25.5260203 C0.46776,25.8502191 0.68136,26.0656011 0.53496,26.2442107 C0.32256,26.7267566 0.20736,25.5350258 0.11616,26.7230043 C0.03816,27.9942838 0.43656,27.9177369 0.37896,28.7815166 C0.45216,28.6922118 0.44496,28.4775802 0.45696,28.208165 C0.56496,28.490338 0.65736,27.9965352 0.73656,28.4693251 C0.51816,28.7372394 0.52656,29.6467972 0.52776,30.3424738 C0.41016,30.1608624 0.29016,30.6066358 0.22416,30.3882518 C0.24936,30.7409681 0.28536,31.0666679 0.38256,31.2175104 C0.55296,29.8028929 0.55656,32.5878507 0.78216,31.4891769 C0.76296,32.591603 0.56376,32.8032327 0.44496,33.486902 C0.37896,33.4418744 0.31656,32.2171233 0.21816,33.194973 C0.43896,34.3191623 0.53616,32.9946001 0.80496,33.8688862 L0.89016,33.1627032 C1.17096,33.0741489 0.95256,34.3859533 1.01256,34.5683151 C0.93936,35.0043325 0.93816,33.9604424 0.74616,34.3859533 C0.68016,35.0373527 0.85416,35.3645534 0.74736,35.7803083 C0.56136,35.3750598 0.63456,35.6332181 0.46776,35.1716851 C0.46296,36.6988716 0.24696,35.0928868 0.12216,36.2591019 C0.15576,36.6298293 0.32256,36.3941848 0.27696,36.9915511 C0.48216,36.6425871 0.54936,36.6876147 0.56136,35.7225229 C0.85416,36.0609804 0.48336,36.9915511 0.65736,37.6662148 C0.68376,37.1266339 0.71736,37.4973612 0.67656,36.9127527 C0.92376,36.8339544 0.96336,36.6178219 1.19016,37.1513991 C1.12776,36.5240144 0.86376,36.2515973 0.93936,35.352546 C1.19256,35.1063951 1.12896,36.454972 1.45416,36.4669794 C1.61616,36.9142537 1.47216,38.00092 1.34856,38.4962238 C1.54536,39.3682585 1.54416,40.4376643 1.83456,41.1055738 C1.73496,41.7352099 2.00376,43.308925 1.91136,44.4976539 C1.76496,44.6785148 1.80696,45.9565485 1.65216,45.2263507 C1.69896,45.3291638 1.72176,46.3160189 1.85376,46.0586111 C1.80696,45.9565485 1.84656,45.8454804 1.83936,45.6331002 L2.01936,45.8229666 C1.94016,46.3955677 2.16816,47.0379616 2.05536,47.5872985 C1.90896,47.7666585 1.96776,46.5546653 1.79496,46.9238917 C2.06256,47.4537166 2.16456,49.6090383 2.04576,50.2942084 C2.00616,50.7542405 1.78056,50.8082736 1.75416,51.0003915 L1.76856,51.7741159 C1.69416,51.8641711 1.60776,51.8761785 1.51536,52.0195164 C1.46256,52.4015006 1.53576,52.6604094 1.57656,52.8968044 C1.42536,53.9061733 1.24296,53.3665924 1.09656,52.8487749 L1.17696,52.2784252 C1.07616,51.8626702 1.12176,51.2668048 0.91536,51.6157688 C0.93576,51.904696 1.02216,51.89494 1.06896,51.9977531 L0.94896,52.3324583 C1.03656,52.6701654 1.07856,53.6022369 1.23696,53.5031762 C1.11936,54.186095 1.25256,54.9725772 1.12056,55.5789491 C1.22616,55.1631941 1.28616,55.6915181 1.41336,55.5684426 L1.46616,54.8389953 C1.50696,55.4236038 1.62096,56.2663706 1.50816,56.8164579 C1.40856,56.7481661 1.37496,56.7264027 1.27536,57.0048234 C1.41576,56.6138337 1.44936,58.0269502 1.62936,57.1759284 C1.57536,56.862236 1.55496,56.5688061 1.57416,56.1635576 C1.79376,55.8971442 1.81416,56.5372867 1.93536,56.8960067 C1.98216,57.3447819 2.04336,58.2220699 2.11776,58.8284417 C2.06496,59.2104259 1.81896,59.3214941 1.95936,59.973644 C2.17056,59.143635 2.29896,60.7601262 2.51256,60.9755083 C2.41416,61.604394 2.68656,61.9968846 2.50896,62.5011939 C2.43456,62.243786 2.44656,61.2764429 2.28576,61.0302919 C2.13336,60.9942698 1.88136,61.2426721 1.80576,60.2873363 C1.72176,61.4340395 1.93416,60.962 1.99176,61.490324 L1.97376,61.0970829 C2.03496,61.2756924 2.15256,60.9387358 2.15376,61.2876998 C2.08776,62.6340253 1.92336,62.8704203 1.72416,63.7799781 C1.83696,63.5773538 1.93776,63.9931087 1.94496,64.2077404 C1.79976,65.0827769 1.61856,64.1949825 1.38576,64.7315616 C1.52616,65.0362484 1.48056,65.6321138 1.59336,65.4309905 C1.59336,65.7777031 1.53456,65.5975926 1.48656,65.844494 C1.61496,66.0696321 1.68696,66.3292913 1.68216,66.8103363 C1.61496,66.7668096 1.51536,66.6985177 1.55376,66.2384856 C1.49496,66.7548023 1.26216,66.9431678 1.13616,66.7187802 L1.22856,65.8775143 C1.07376,65.4955301 1.15536,66.6624956 1.00176,66.6302259 C0.96816,66.2587481 1.06896,65.9788264 1.02816,65.7424315 C0.86136,65.978076 1.01496,66.7075233 1.02936,67.1345351 C0.99696,67.8084484 0.83616,67.560046 0.74976,67.5705525 C1.00536,68.7172557 1.05456,66.2474912 1.29576,67.315396 C1.48416,67.7198941 1.45056,68.7420208 1.48536,69.4609617 C1.70376,68.843333 1.79136,69.530004 1.85976,70.2714587 C1.87176,69.3056164 2.11176,70.0245573 1.97856,68.8898615 L2.15016,68.8680982 C2.14416,69.3513945 2.06616,69.9232452 2.05896,70.4057911 C2.01336,70.3052294 1.97376,70.417048 1.94496,70.2587009 L2.01456,71.6980835 L1.90056,71.5517438 C1.87656,72.4380373 1.73736,73.5277055 1.79736,74.0560295 C1.78416,73.6282671 1.95696,73.2590407 2.00376,73.7078159 C2.07816,73.9667247 2.15736,74.4387641 2.13816,74.8425117 C1.93896,75.054892 1.93536,76.5828289 1.73976,75.6162362 C1.83576,76.8620001 1.87416,76.4027185 1.98816,77.5944493 L1.94136,76.7959596 C2.10096,76.6953979 2.36136,77.3595552 2.46696,76.5955867 C2.56176,77.4938876 2.84736,76.9220369 2.87616,78.1250246 C2.77656,78.6120733 2.55576,77.9779344 2.51976,77.3025202 C2.50416,77.6424787 2.41536,77.9516683 2.52336,78.3036341 C2.39016,78.5602915 2.29536,77.6619907 2.24256,77.6957614 C2.23056,78.314891 2.32896,77.6845045 2.36976,78.2683625 C2.54376,79.2904893 2.09736,78.918261 2.20536,79.8968611 C2.19816,79.68298 2.25096,79.3024966 2.32536,79.5599045 C2.31336,80.8739603 2.48016,80.2908527 2.55336,81.2454381 C2.32176,81.7842685 2.07456,81.5463726 2.01576,82.4101523 L2.02176,81.9283569 C1.90176,82.264563 1.84896,82.6457968 1.85016,82.9947608 C2.03856,84.7913625 2.38056,86.2750223 2.54856,88.1279085 L2.49456,87.4652521 C2.57496,87.2408646 2.58936,88.0175908 2.67696,88.0070844 L2.57016,88.420588 C2.73696,88.5346579 2.73576,87.4900173 2.89536,87.7376692 C2.87496,87.7932033 2.86896,87.9290365 2.88336,88.0078349 L2.93496,87.6251002 C2.87616,88.4896303 3.17016,89.1755509 2.89776,89.8261999 C2.87616,88.1406663 2.41176,89.5672911 2.33616,87.9162787 C2.39736,88.7913153 2.15736,88.071624 2.08416,88.1609287 C2.04336,88.6217113 2.21016,88.3868173 2.15136,88.9038843 C2.03136,88.8911265 1.92936,87.7789445 1.83696,88.2727473 C2.02416,88.3297823 1.98456,88.7898144 2.11176,89.0134515 C2.05776,89.3954358 1.99056,89.004446 1.93176,89.1717986 C1.93776,89.3849293 2.01936,89.5095057 1.99176,89.6993721 L1.87896,89.5545333 C1.70616,90.6194363 2.05176,89.8794826 1.99416,91.0914758 C2.14656,91.125997 2.11416,90.7545192 2.08656,90.2502099 C2.42616,89.994303 2.44056,91.8119176 2.80656,91.7128568 C2.85576,92.8580591 2.66736,91.4096709 2.56896,92.3860196 C2.33616,92.9225987 2.32776,91.6663283 2.16696,91.417926 L2.01576,92.4295463 C1.72296,92.0903383 1.82136,91.4622031 1.55496,91.2820927 C1.53576,92.0340538 1.60896,91.944749 1.70976,92.7087175 C1.94136,91.4742105 1.88976,93.2475479 2.18256,92.5421153 C2.10336,93.1132155 2.04216,92.9338556 2.03736,93.7638645 C1.97736,93.2370415 1.79736,93.7428516 1.79616,93.0449237 C1.81176,94.1683626 1.87896,93.8644262 1.89216,94.9871146 C2.09976,95.3368291 2.17056,93.8539198 2.31216,95.2032472 C2.31216,95.4951762 2.23416,95.4381412 2.23656,95.2670363 C2.14776,96.2313776 2.49576,95.0696653 2.59896,95.6752866 C2.62296,96.0970453 2.53896,96.2486382 2.48976,96.0745315 C2.60256,96.7064189 2.74296,96.357455 2.78736,96.7777127 L2.81376,96.5863453 C2.87376,96.7657053 3.17376,96.2741539 3.18216,97.1837116 C3.17736,97.8471184 3.06096,97.639241 2.99016,97.6542502 C3.05976,98.1705668 2.99616,98.5660593 2.92176,98.919526 C2.96256,98.8842544 3.00336,98.9232783 3.00336,99.0793741 C3.06456,99.9559116 2.82456,99.5829329 2.79096,99.909383 C2.68056,101.157398 3.17856,99.7547882 3.17976,101.146892 L3.25656,99.5296502 C3.35736,99.5979421 3.51096,99.6332137 3.50976,99.2842497 C3.35736,99.2512295 3.23016,98.6771274 3.25536,98.1375465 C3.43536,97.9822013 3.44376,99.5874356 3.64176,98.6778779 C3.60936,99.0035776 3.65616,99.4546042 3.63696,99.8576013 C3.44976,99.4531032 3.59256,101.149143 3.38616,100.451215 C3.42096,102.214797 3.28776,102.472955 3.41736,104.090197 C3.30336,103.943857 3.00816,102.910473 3.10056,102.068457 L3.20736,101.999415 C3.08616,100.945018 3.08256,102.821169 2.90136,102.629051 C3.18456,103.93185 2.74536,105.51382 2.84136,107.107797 C2.93976,106.827876 2.99496,107.143819 3.09456,107.211361 C3.07416,106.571218 3.03456,106.683037 3.15936,106.212498 C3.29256,106.302553 3.23976,106.684538 3.33456,106.887162 C3.48096,107.054515 3.33936,106.403866 3.41976,106.177977 C3.49296,106.7866 3.51336,106.729565 3.63456,107.089786 C3.51456,107.425992 3.44736,107.380214 3.31536,107.639123 C3.27696,109.143796 3.54216,108.975693 3.48456,110.188436 C3.51696,109.516024 3.33216,110.50363 3.38496,109.772681 L3.36456,110.17793 C3.15696,109.131788 3.17496,107.335187 2.82216,107.513796 C2.84976,108.367069 3.04296,108.986199 3.04416,110.028588 L2.97936,109.985062 C2.95896,110.738524 3.06456,109.973805 3.12576,110.152414 C3.23856,110.995181 2.78136,111.242082 3.02736,111.82519 L3.08616,110.962161 C3.22656,111.614311 3.11256,110.771544 3.34536,110.92914 C3.51456,112.08635 3.38376,114.085576 3.54456,115.725332 C3.67176,115.254043 3.67776,115.120461 3.68976,114.501331 C4.00416,114.782003 3.95736,115.030405 4.23096,114.72872 L4.24896,113.976009 L4.54176,113.965502 C4.54536,114.171879 4.52856,114.375254 4.49856,114.557616 C4.68216,114.661929 4.43616,115.699816 4.61136,115.750847 L4.58976,115.111455 C4.74336,114.797012 4.72416,115.550474 4.77096,116 C4.96416,115.573739 4.76976,114.607146 4.76136,113.697588' id='Fill-48' fill='%23B87248' mask='url(%23mask-20)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

      }
    }
    .opening-hours {
      max-width:300px;
      .paragraph--type--contact-label-field{
        display: block;
        margin-bottom:20px;
      }
    }
    .social-media{
      ul.linkicon{
        justify-content: flex-start;
      }
    }
  }
  @include breakpoint(medium){
    margin:30px auto 70px;
    flex-direction: row;
    align-items: center;
    .map{
      width:65%;
    }
    .conact-info-wrapper{
      width:35%;
    }
  }
  @include breakpoint(xlarge){
    margin:30px auto 90px;
    .map{
      width:73%;
    }
    .conact-info-wrapper{
      padding:0 30px 0 72px;
      width:26%;
    }
  }
}
div.captcha{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @include breakpoint(large){
    padding-left: 15px;
  }
}
