.home-carousel{
  //background: $primary-color;
  max-width:980px;
  margin:0 auto 200px;
  .swiper-slide{
    //background: #fff;
    .field-name-field-image{
      .field-item{
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        @include breakpoint(large){
          padding-left: 100px;
          padding-right: 0px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }
  }
  .field-name-field-text{
    color: #fff;
    //background: $primary-color;
    padding:30px;
    h2{
      margin-bottom:20px;
      font-weight: 400;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 1.37px;
      em{
        font-family: $greatvibes;
        font-size: 50px;
        color: $white;
        letter-spacing: 1.9px;
      }
    }
    P{
      font-WEIGHT: 400;
      font-size: 16px;
      color: $white;
      letter-spacing: 1.21px;
    }
    a{
      color: #fff;
      &.button{
        font-size:$global-font-size;
        display: inline-block;
        background-image: url('../images/icons/chevron-right-red.svg');
        background-repeat:no-repeat;
        background-color: $primary-color;
        border:2px solid #fff;
        color: #fff;
        &:hover{
          background-color: #fff;
          color: $primary-color;
        }
      }
    }
  }
  .swiper-pagination{
    .swiper-pagination-bullet-active{
      background-color: #fff;
    }
  }

  @include breakpoint(large) {
    margin-bottom: 50px;
  }
  @include breakpoint(xlarge){
    margin-bottom:150px;
    max-width:1400px;
    .paragraph--type--slide{
      display: flex;
      max-width:none;
    }
    .field-name-field-image{
      width:70%;
    }
    .field-name-field-text {
      width: 30%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 45px;
      h2{
        margin-bottom:30px;
      }
      padding:0 50px;
    }
  }

  @include breakpoint(xxlarge){
    .field-name-field-image{
      width:70%;
    }
    .field-name-field-text {
      width:30%;
      padding:0px;
      padding-left: 100px;
    }
  }
}
.node--type-home-page{
  .block-views-block-call-to-action-block{
    margin-top: -45px;
    @include breakpoint(medium){
      margin-top:-85px;
    }
  }
}
