// Teaser overview
.block-views-block-terrm-block-1{
  max-width:1410px;
  margin: 0 auto 25px;
  .item-list{
    ul{
      margin:0;
      li{
        list-style: none;
        margin-bottom:30px;
        @include breakpoint(520px){
          height: 210px;
          min-height: 210px;
          max-height: 210px;
          article{
            height: 100%;
            figure{
              height: 100%;
            }
          }
        }
      }
    }
  }
  figure{
    display: flex;
    align-items:center;
    flex-direction: column;
    max-width:400px;
    margin:0 auto;
    border: solid 2px #B87248;
    figcaption{
      display: flex;
      flex-direction: column;
      align-self: stretch;
      justify-content: center;
      color: #fff;
      background: transparent;
      padding:20px 30px;
      max-width:400px;
      h2{
        font-size:20px;
        color: $primary-color;
        word-break: break-word;
        margin-bottom: 45px!important;
      }
      a.button{
        @include button-negative();
        font-size:11px;
        color: $primary-color;
        padding: 8px 50px 8px 10px!important;
        border-color: $primary-color;
        background-image: url('../images/icons/chevron-right-white.svg');
      }
    }
    .image{
      flex:1 1 auto;
      img{
        max-height: 210px;
        border: solid 2px #B87248;
        border-right: solid 0px transparent;
        border-left: solid 0px transparent;
        object-fit: cover;
      }
    }
  }
  @media screen and (min-width: 520px){
    figure{
      flex-direction: row;
      max-width:690px;
      .image{
        flex:1 1 66%;
        width: 400px;
        height: 210px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      figcaption{
        width:33%;
      }
    }
  }
  @include breakpoint(medium){
    margin: 0 auto 85px;
    figure{
      figcaption{
        h2{
          font-size:24px;
          margin-bottom:15px;
        }
      }
    }
  }
  @include breakpoint(large){
    .item-list{
      & > ul{
        display: flex;
        flex-wrap: wrap;
        & > li{
          width:50%;
          padding:0 15px;
        }
      }
    }
  }
}

// Detail
.category-detail{
  width:100%;
  color: $primary-color;
  .term-content{
    width:100%;
    max-width:1200px;
    margin: 25px auto;
    padding:0 30px;
  }
  .category-content{
    margin-bottom:25px;
  }
  .clean-call-to-action{
    .term-name{
      text-transform: lowercase;
    }
  }
  .field-paragraph--field-label-long{
    max-width:340px;
  }
  @include breakpoint(medium){
    .term-content{
      margin-bottom:250px;
      h1{
        margin-bottom:30px;
      }
      .field-name-description{
        margin-bottom:30px;
      }
    }
    .field-paragraph--field-label-long{
      max-width:560px;
    }
  }
  @media screen and (min-width: 990px){
    .term-content{
      display: flex;
      .category-content{
        width:45%;
        padding-right:80px;
      }
      .category-image{
        width:55%;
      }
    }
  }
  @include breakpoint(large){
    .term-content{
      margin-top:165px;
      .category-content{
        padding-right:120px;
        ul.breadcrumbs{
          margin-bottom:120px;
        }
      }
    }
  }
}
