.path-user {
  #main-wrapper {
    padding: 4rem .623rem 3rem;
    @include breakpoint(medium) {
      padding: 4rem 1rem 3rem;
    }
    @include breakpoint(mediumplus) {
      padding: 5rem 1rem 8rem;
    }
    .region.region-content {
      max-width: 360px;
      margin: auto;
      padding: 0 1rem 2rem;
      position: relative;
      &::before {
        content: "";
        width: 80px;
        height: 80px;
        display: block;
        background-color: $primary-color;
        position: absolute;
        left: 0;
        right: 0;
        top: -40px;
        border-radius: 50%;
        margin: auto;
      }
      @include breakpoint(smallplus) {
        padding: 0 2rem 2rem;
      }
      background: $primary-color;
      h1 {
        font-size: 1.4rem;
        text-transform: capitalize;
        color: #fff;
        text-align: center;
        border-bottom: 1px solid;
        padding-bottom: 1rem;
        margin-bottom: .5rem;
        line-height: 1;
        float: left;
        width: 100%;
        &::before {
          content: "";
          position: relative;
          z-index: 1;
          width: 60px;
          height: 60px;
          display: block;
          background-color: $primary-color;
          margin: -30px auto 10px;
          border: 2px solid $white;
          border-radius: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 35px 35px;
          background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3csvg width='1792' fill='%23fff' height='1792' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1329 784q47 14 89.5 38t89 73 79.5 115.5 55 172 22 236.5q0 154-100 263.5t-241 109.5h-854q-141 0-241-109.5t-100-263.5q0-131 22-236.5t55-172 79.5-115.5 89-73 89.5-38q-79-125-79-272 0-104 40.5-198.5t109.5-163.5 163.5-109.5 198.5-40.5 198.5 40.5 163.5 109.5 109.5 163.5 40.5 198.5q0 147-79 272zm-433-656q-159 0-271.5 112.5t-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5-112.5-271.5-271.5-112.5zm427 1536q88 0 150.5-71.5t62.5-173.5q0-239-78.5-377t-225.5-145q-145 127-336 127t-336-127q-147 7-225.5 145t-78.5 377q0 102 62.5 173.5t150.5 71.5h854z'/%3e%3c/svg%3e");
        }
      }
      .block-base-local-tasks.block-local-tasks-block {
        .button-group {
          a.button {
            padding: 10px 0 5px;
            margin-right: 12px;
            border-bottom: 2px solid transparent;
            font-weight: 500;
            color: $white;
            background: transparent;
            font-size: .8rem;
            &.active, &:hover {
              border-bottom-color: $white;
            }
          }
        }
      }
      form.user-login-form, form.user-pass {
        .description {
          font-size: .8rem;
          font-weight: 500;
          color: $white;
        }
        .form-item {
          color: $white;
          padding-bottom: .6rem;
          label {
            font-weight: 500;
            color: $white;
            padding-bottom: 5px;
          }
          [type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea {
            background: transparent;
            padding: 5px 10px;
            color: $white;
            border: 2px solid $white;
            margin-bottom: .5rem;
            outline: none;
            box-shadow: none;
          }
        }
        .form-actions {
          .button {
            background: $white;
            color: $primary-color;
            width: 100%;
            margin-top: 1.5rem;
            margin-bottom: 0;
            padding: 0;
            line-height: 36px;
            border: none;
            font-weight: 700;
            text-transform: uppercase;
            font-size: .9rem;
            letter-spacing: 2px;
            &:hover, &:focus {
              background: $black;
            }
          }
        }
      }
      form.user-pass {
        p {
          font-size: .8rem;
          color: $white;
          font-weight: 500;
        }
      }
    }
  }
}
.user-actions{
  margin-bottom:15px;
  .button{
    color: $secondary-color;
    border:2px solid $secondary-color;
    background: #fff;
    font-weight:$global-weight-bold;
    margin-bottom:0;
    padding:10px 20px;
    &:hover{
      color: #fff;
      background: $secondary-color;
    }
  }
}
.view-commerce-user-orders{
  margin-bottom:75px;
  .item-list{
    & > ul{
      margin:0;
      & > li{
        list-style: none;
        margin-bottom:25px;
        & > div{
          border:1px solid $light-gray;
          padding:20px;
        }
        .order-number{
          font-weight: $global-weight-bold;
        }
        .order-more{
          margin-top:10px;
          .button{
            font-weight:$global-weight-bold;
            margin-bottom:0;
            padding:10px 20px;
          }
        }
      }
      @include breakpoint(large){
        @include grid-row-nest();
        display: flex;
        flex-wrap: wrap;
        & > li{
          @include grid-column-gutter();
          width:50%;
        }
      }
    }
  }
}
.user-order-detail{
  margin-bottom:125px;
  .go-back{
    font-weight:$global-weight-bold;
    color: $secondary-color;
    margin-bottom:20px;
  }
  h2.order-title{
    margin-bottom:0;
    font-weight:$global-weight-bold;
    font-size:1.4rem;
    @include breakpoint(medium){
      font-size:1.8rem;
    }
  }
  .order-info{
    margin-bottom:25px;
  }
  .view-commerce-order-item-table{
    margin-bottom:55px;
    max-width:850px;
    table{
      border:none;
      border-collapse: collapse;
      border-spacing:0;
      tbody{
        border:none;
      }
    }
    tr{
      background: none!important;
      td{
        border-bottom:1px solid $light-gray;
      }
    }
    .views-field-rendered-entity{
      padding-left:0;
    }
    .views-field-total-price__number{
      padding-right:0;
      text-align: right;
    }
    .product-cart-teaser{
      .image{
        display: initial;
      }
    }
    .order-total-line{
      padding-right:0;
    }
  }
  .customer-information{
    .field__label{
      font-size:1.2rem;
      font-weight:$global-weight-bold;
    }
    .field-commerce-shipment--shipping-method{
      display: flex;
      justify-content: flex-start;
      .field-label{
        &:after{
          content: ': ';
          display: inline-block;
          margin-right:5px;
        }
      }
    }
    @media screen and (min-width: 475px){
      display: flex;
      justify-content: flex-start;
      .customer-billing{
        margin-right:120px;
      }
    }
  }
}
.block-base-local-tasks{
  position: relative;
  z-index:9;
  text-align: right;
  max-width:1200px;
  margin:0 auto;
}