{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 * - html_attributes: Raw HTML attributes for the <html> tag.
 *   Contains langcode and text direction.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
  logged_in ? 'user-logged-in',
  not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
  node_type ? 'node--type-' ~ node_type|clean_class,
  db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
<html {{ html_attributes }} class="no-js">
<head>
  <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">
        <link rel="apple-touch-icon" sizes="180x180" href="/themes/base/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/themes/base/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/themes/base/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/themes/base/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/themes/base/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/themes/base/images/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-config" content="/themes/base/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- Primary Meta Tags -->
        <title>Authentieke kazen en huisbereide gerechten | De Smaak van Kaas</title>
        <meta name="title" content="Authentieke kazen en huisbereide gerechten | De Smaak van Kaas">
        <meta name="description" content="In De Smaak van Kaas in Tielt geven Anne-Louise en haar team een eigen twist aan smaakvolle kaaswinkel. Naast traditionele kaasplanken en vleesborden verrassen wij met huisbereide gerechten, fijne hapjes en overheerlijke tapasschotels. Stuk voor stuk eigen creaties, waar kaas een hoofdrol speelt.">
        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://desmaakvankaas.be/">
        <meta property="og:title" content="Authentieke kazen en huisbereide gerechten | De Smaak van Kaas">
        <meta property="og:description" content="In De Smaak van Kaas in Tielt geven Anne-Louise en haar team een eigen twist aan smaakvolle kaaswinkel. Naast traditionele kaasplanken en vleesborden verrassen wij met huisbereide gerechten, fijne hapjes en overheerlijke tapasschotels. Stuk voor stuk eigen creaties, waar kaas een hoofdrol speelt.">
        <meta property="og:image" content="/themes/base/images/seometa.png">
        </head>
<body{{ attributes.addClass(body_classes) }}>
<a href="#main-content" class="visually-hidden focusable skip-link">
  {{ 'Skip to main content'|t }}
</a>
{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token }}">
</body>
</html>
