{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set field_name_class = field_name|clean_class %}
{%
  set classes = [
    'field',
    'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
    'field-name-' ~ field_name_class,
    'field-type-' ~ field_type|clean_class,
    'field-label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field-label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
  {% endif %}
  <div{{ content_attributes.addClass('field-items') }}>
    {% for item in items %}
      <div{{ item.attributes.addClass('field-item') }}>
        <svg class="frontclip">
          <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox"><path d="M0.871,0.679 C0.872,0.679,0.872,0.679,0.873,0.678 C0.872,0.68,0.872,0.681,0.871,0.679 L0.871,0.679 M0.726,0.898 C0.726,0.898,0.726,0.897,0.726,0.896 C0.726,0.897,0.727,0.898,0.727,0.898 C0.727,0.898,0.726,0.898,0.726,0.898 L0.726,0.898 M0.724,0.896 C0.721,0.896,0.719,0.898,0.717,0.899 C0.719,0.892,0.721,0.888,0.724,0.896 L0.724,0.896 M0.354,0.051 C0.354,0.051,0.354,0.05,0.353,0.049 C0.354,0.05,0.354,0.05,0.354,0.051 C0.354,0.051,0.354,0.051,0.354,0.051 L0.354,0.051 M0.93,0.313 C0.931,0.313,0.932,0.313,0.933,0.314 C0.932,0.314,0.931,0.314,0.93,0.313 L0.93,0.313 M0.799,0.573 C0.799,0.574,0.8,0.575,0.8,0.575 C0.8,0.576,0.799,0.576,0.799,0.576 C0.799,0.575,0.799,0.574,0.799,0.573 L0.799,0.573 M0.779,0.638 C0.779,0.636,0.78,0.635,0.78,0.635 C0.78,0.636,0.779,0.637,0.779,0.638 L0.779,0.638 M0.125,0.134 C0.125,0.133,0.126,0.133,0.126,0.133 C0.126,0.134,0.125,0.134,0.125,0.134 L0.125,0.134 M0.393,0.088 C0.393,0.087,0.393,0.087,0.393,0.086 C0.393,0.086,0.393,0.086,0.393,0.086 C0.393,0.087,0.393,0.087,0.393,0.088 L0.393,0.088 M0.671,0.68 C0.671,0.681,0.671,0.681,0.671,0.682 C0.671,0.681,0.671,0.681,0.671,0.68 C0.671,0.68,0.671,0.68,0.671,0.68 L0.671,0.68 M0.122,0.191 C0.122,0.19,0.122,0.189,0.122,0.188 C0.122,0.189,0.122,0.19,0.122,0.191 L0.122,0.191 M0.173,0.91 C0.172,0.91,0.172,0.909,0.172,0.909 C0.172,0.908,0.172,0.908,0.172,0.908 C0.172,0.908,0.173,0.909,0.173,0.91 L0.173,0.91 M0.16,0.552 C0.161,0.561,0.162,0.569,0.159,0.573 C0.159,0.567,0.16,0.56,0.16,0.552 L0.16,0.552 M0.265,0.188 C0.265,0.188,0.265,0.187,0.265,0.187 C0.265,0.187,0.265,0.188,0.265,0.188 L0.265,0.188 M0.252,0.624 C0.252,0.623,0.252,0.622,0.253,0.622 C0.253,0.622,0.252,0.623,0.252,0.624 L0.252,0.624 M0.048,0.766 C0.048,0.765,0.047,0.763,0.047,0.762 C0.048,0.763,0.048,0.765,0.048,0.766 L0.048,0.766 M0.658,0.135 C0.657,0.134,0.657,0.133,0.657,0.132 C0.657,0.133,0.658,0.134,0.658,0.135 L0.658,0.135 M0.68,0.434 C0.68,0.435,0.679,0.436,0.679,0.437 C0.679,0.437,0.679,0.437,0.679,0.436 C0.679,0.435,0.68,0.434,0.68,0.434 L0.68,0.434 M0.694,0.446 C0.694,0.444,0.695,0.443,0.695,0.444 C0.695,0.445,0.694,0.445,0.694,0.446 L0.694,0.446 M0.753,0.291 C0.753,0.293,0.752,0.295,0.752,0.297 C0.752,0.295,0.752,0.292,0.753,0.291 L0.753,0.291 M0.543,0.675 C0.542,0.674,0.542,0.673,0.542,0.672 C0.542,0.673,0.543,0.674,0.543,0.675 L0.543,0.675 M0.521,0.55 C0.521,0.55,0.521,0.55,0.521,0.55 C0.521,0.55,0.521,0.55,0.521,0.55 C0.522,0.551,0.522,0.551,0.522,0.551 C0.522,0.552,0.522,0.552,0.521,0.552 C0.521,0.552,0.521,0.551,0.521,0.55 L0.521,0.55 M0.8,0.123 C0.799,0.124,0.799,0.124,0.799,0.125 C0.799,0.124,0.799,0.123,0.799,0.123 C0.799,0.123,0.8,0.123,0.8,0.123 L0.8,0.123 M0.763,0.231 C0.762,0.232,0.762,0.232,0.762,0.233 C0.762,0.232,0.762,0.232,0.762,0.232 C0.762,0.231,0.762,0.231,0.763,0.231 L0.763,0.231 M0.752,0.88 C0.752,0.879,0.752,0.878,0.753,0.876 C0.753,0.878,0.753,0.879,0.752,0.88 L0.752,0.88 M0.844,0.135 C0.843,0.136,0.842,0.138,0.841,0.14 C0.842,0.137,0.843,0.136,0.844,0.135 L0.844,0.135 M0.547,0.088 C0.546,0.088,0.546,0.087,0.546,0.086 C0.546,0.086,0.546,0.086,0.546,0.086 C0.546,0.087,0.546,0.087,0.547,0.088 L0.547,0.088 M0.997,0.344 C0.995,0.334,0.993,0.322,0.991,0.311 L0.991,0.311 C0.988,0.294,0.989,0.275,0.989,0.258 C0.988,0.245,0.987,0.24,0.984,0.242 C0.974,0.246,0.965,0.24,0.955,0.239 C0.953,0.241,0.951,0.235,0.949,0.229 C0.948,0.221,0.948,0.214,0.949,0.205 C0.95,0.195,0.949,0.187,0.947,0.181 C0.942,0.172,0.937,0.167,0.933,0.157 C0.932,0.154,0.929,0.152,0.927,0.153 C0.919,0.159,0.913,0.171,0.905,0.179 C0.901,0.177,0.896,0.176,0.891,0.174 C0.89,0.174,0.888,0.174,0.887,0.172 C0.882,0.164,0.877,0.165,0.873,0.16 C0.872,0.155,0.87,0.158,0.869,0.154 C0.867,0.144,0.865,0.147,0.862,0.147 C0.859,0.146,0.856,0.138,0.854,0.132 C0.852,0.127,0.855,0.123,0.855,0.117 C0.855,0.115,0.855,0.113,0.855,0.112 C0.853,0.1,0.852,0.085,0.848,0.076 C0.844,0.067,0.844,0.054,0.848,0.044 C0.849,0.04,0.85,0.037,0.849,0.031 C0.848,0.025,0.847,0.023,0.845,0.025 C0.835,0.035,0.824,0.027,0.814,0.016 C0.808,0.008,0.802,-0.003,0.794,0.002 C0.786,0.007,0.779,0.012,0.774,0.033 C0.764,0.042,0.754,0.037,0.744,0.039 C0.739,0.04,0.735,0.038,0.73,0.041 C0.723,0.045,0.716,0.033,0.71,0.043 C0.71,0.043,0.709,0.042,0.709,0.042 C0.703,0.038,0.696,0.038,0.69,0.049 C0.689,0.05,0.688,0.054,0.687,0.047 C0.687,0.035,0.685,0.033,0.682,0.038 C0.681,0.04,0.68,0.046,0.678,0.046 C0.669,0.043,0.661,0.037,0.653,0.055 C0.651,0.057,0.65,0.065,0.647,0.064 L0.647,0.064 C0.647,0.062,0.646,0.061,0.645,0.06 C0.641,0.06,0.636,0.059,0.632,0.064 C0.627,0.07,0.622,0.072,0.616,0.07 C0.61,0.068,0.603,0.075,0.596,0.072 C0.595,0.072,0.595,0.074,0.594,0.075 L0.594,0.075 C0.585,0.076,0.575,0.074,0.566,0.066 C0.566,0.066,0.566,0.066,0.566,0.066 C0.566,0.066,0.566,0.066,0.566,0.066 C0.565,0.06,0.564,0.056,0.562,0.053 C0.556,0.045,0.551,0.04,0.545,0.04 C0.53,0.038,0.514,0.039,0.499,0.038 C0.498,0.036,0.497,0.035,0.495,0.035 C0.48,0.034,0.465,0.041,0.45,0.036 C0.449,0.035,0.447,0.037,0.446,0.04 L0.446,0.04 C0.446,0.04,0.446,0.04,0.445,0.04 L0.445,0.04 C0.44,0.041,0.434,0.04,0.428,0.036 C0.422,0.035,0.416,0.033,0.41,0.038 C0.403,0.043,0.395,0.036,0.389,0.048 C0.388,0.049,0.387,0.047,0.386,0.045 C0.382,0.038,0.378,0.038,0.375,0.026 C0.375,0.024,0.374,0.026,0.374,0.028 C0.373,0.029,0.372,0.03,0.372,0.031 C0.366,0.027,0.361,0.021,0.355,0.027 C0.351,0.03,0.348,0.028,0.344,0.026 C0.34,0.025,0.336,0.022,0.332,0.028 C0.327,0.026,0.322,0.025,0.317,0.024 C0.315,0.023,0.313,0.021,0.311,0.026 C0.31,0.027,0.31,0.028,0.309,0.03 C0.308,0.03,0.307,0.032,0.306,0.031 C0.301,0.023,0.296,0.027,0.291,0.029 C0.289,0.03,0.287,0.037,0.284,0.035 C0.281,0.033,0.276,0.039,0.272,0.042 C0.269,0.045,0.266,0.052,0.263,0.051 C0.257,0.05,0.253,0.064,0.246,0.057 C0.238,0.047,0.227,0.044,0.218,0.048 C0.21,0.051,0.203,0.047,0.195,0.048 C0.187,0.05,0.179,0.05,0.172,0.049 C0.17,0.049,0.169,0.05,0.169,0.055 L0.169,0.055 C0.163,0.061,0.158,0.065,0.152,0.068 C0.148,0.069,0.144,0.074,0.14,0.074 C0.14,0.074,0.14,0.074,0.14,0.075 C0.14,0.076,0.14,0.077,0.14,0.078 L0.14,0.078 C0.14,0.077,0.14,0.076,0.14,0.075 C0.136,0.077,0.131,0.081,0.126,0.082 C0.122,0.083,0.118,0.09,0.115,0.083 C0.112,0.077,0.109,0.078,0.106,0.08 C0.104,0.081,0.102,0.083,0.101,0.082 C0.096,0.08,0.092,0.086,0.09,0.103 C0.089,0.107,0.088,0.111,0.087,0.112 C0.084,0.115,0.081,0.119,0.078,0.119 C0.063,0.119,0.052,0.142,0.04,0.167 C0.039,0.168,0.038,0.171,0.038,0.174 C0.034,0.193,0.03,0.213,0.031,0.24 C0.031,0.247,0.029,0.254,0.028,0.26 C0.027,0.266,0.026,0.272,0.027,0.28 C0.028,0.293,0.028,0.306,0.027,0.319 C0.024,0.326,0.024,0.336,0.026,0.344 C0.027,0.353,0.026,0.359,0.025,0.366 C0.022,0.384,0.018,0.398,0.016,0.418 C0.015,0.431,0.014,0.443,0.009,0.442 C0.008,0.442,0.008,0.444,0.007,0.446 C0.007,0.45,0.007,0.454,0.007,0.457 C0.007,0.456,0.008,0.456,0.008,0.455 C0.011,0.452,0.014,0.455,0.015,0.446 C0.016,0.446,0.016,0.445,0.016,0.445 C0.018,0.449,0.019,0.457,0.018,0.466 C0.016,0.474,0.014,0.477,0.012,0.47 C0.011,0.468,0.01,0.467,0.01,0.471 C0.009,0.471,0.008,0.472,0.008,0.474 C0.008,0.475,0.007,0.475,0.007,0.476 C0.008,0.515,0.005,0.561,0.003,0.6 C0.003,0.605,0.002,0.61,0.002,0.615 C0.002,0.617,0.002,0.618,0.002,0.619 L0.002,0.619 C0.002,0.62,0.002,0.62,0.002,0.621 C0.002,0.623,0.002,0.625,0.002,0.627 C0.001,0.63,0.001,0.632,0.001,0.634 C0.001,0.635,0.001,0.636,0.001,0.637 C0.001,0.637,0.001,0.637,0.001,0.637 C0.001,0.64,0.001,0.642,0.001,0.644 C0.002,0.648,0.004,0.653,0.005,0.659 L0.005,0.659 L0.005,0.659 C0.003,0.658,0.002,0.653,0.001,0.651 C0.001,0.652,0.001,0.654,0.002,0.656 C0.002,0.657,0.002,0.657,0.002,0.658 C0.004,0.663,0.006,0.668,0.007,0.678 C0.008,0.699,0.012,0.712,0.015,0.727 C0.015,0.732,0.017,0.735,0.017,0.74 C0.016,0.752,0.017,0.763,0.017,0.774 C0.018,0.79,0.019,0.794,0.023,0.792 C0.024,0.795,0.024,0.797,0.024,0.801 C0.022,0.806,0.021,0.811,0.023,0.821 C0.024,0.832,0.026,0.844,0.023,0.858 C0.022,0.864,0.024,0.87,0.025,0.873 C0.035,0.886,0.044,0.896,0.054,0.894 C0.055,0.893,0.056,0.891,0.057,0.895 C0.058,0.905,0.061,0.904,0.063,0.905 C0.064,0.906,0.065,0.907,0.066,0.908 C0.074,0.913,0.082,0.918,0.09,0.922 C0.093,0.923,0.095,0.933,0.098,0.933 C0.102,0.933,0.107,0.926,0.111,0.94 C0.111,0.941,0.112,0.94,0.113,0.94 C0.116,0.939,0.12,0.941,0.123,0.945 C0.13,0.953,0.139,0.953,0.146,0.964 C0.149,0.968,0.151,0.979,0.155,0.975 C0.16,0.968,0.165,0.974,0.17,0.978 C0.182,0.988,0.194,0.983,0.206,0.998 C0.206,0.998,0.207,0.998,0.207,0.998 C0.212,0.992,0.216,0.999,0.22,0.999 C0.228,1,0.234,0.987,0.24,0.982 C0.249,0.971,0.258,0.968,0.267,0.987 C0.268,0.998,0.271,1,0.275,1 C0.29,0.998,0.306,0.995,0.322,0.992 C0.328,0.987,0.334,0.993,0.34,0.987 C0.348,0.986,0.357,0.983,0.365,0.973 C0.369,0.972,0.372,0.973,0.375,0.968 C0.375,0.968,0.375,0.968,0.375,0.968 C0.375,0.968,0.376,0.968,0.377,0.968 C0.378,0.969,0.378,0.967,0.379,0.965 C0.381,0.966,0.383,0.967,0.384,0.963 C0.389,0.962,0.393,0.961,0.398,0.959 C0.398,0.959,0.399,0.959,0.4,0.958 C0.418,0.957,0.437,0.951,0.456,0.952 C0.465,0.953,0.475,0.953,0.485,0.951 C0.509,0.949,0.534,0.944,0.558,0.943 C0.572,0.942,0.586,0.945,0.599,0.945 C0.604,0.946,0.609,0.949,0.614,0.944 C0.614,0.944,0.615,0.944,0.615,0.944 L0.615,0.944 C0.615,0.943,0.616,0.942,0.617,0.942 C0.616,0.943,0.615,0.943,0.615,0.944 C0.621,0.943,0.626,0.948,0.632,0.942 L0.632,0.942 C0.64,0.939,0.647,0.935,0.654,0.932 C0.671,0.923,0.688,0.921,0.705,0.918 C0.722,0.915,0.739,0.915,0.755,0.915 C0.769,0.916,0.782,0.905,0.796,0.9 C0.805,0.896,0.814,0.893,0.823,0.89 C0.834,0.886,0.845,0.877,0.855,0.858 C0.864,0.841,0.873,0.828,0.883,0.818 C0.893,0.809,0.902,0.803,0.912,0.79 C0.926,0.778,0.94,0.765,0.954,0.763 C0.957,0.762,0.96,0.763,0.964,0.76 C0.966,0.758,0.967,0.753,0.967,0.745 C0.968,0.72,0.972,0.705,0.977,0.692 C0.982,0.678,0.987,0.668,0.993,0.661 C0.998,0.653,0.999,0.645,0.998,0.625 C0.998,0.623,0.998,0.621,0.997,0.619 C0.998,0.621,0.998,0.623,0.998,0.625 C0.999,0.608,0.996,0.599,0.993,0.59 C0.994,0.572,0.992,0.562,0.987,0.561 C0.985,0.56,0.984,0.552,0.982,0.547 C0.98,0.539,0.98,0.532,0.983,0.526 C0.986,0.519,0.989,0.511,0.992,0.505 C0.997,0.499,0.999,0.488,0.999,0.471 C0.999,0.445,0.999,0.42,1,0.395 C1,0.377,1,0.359,0.997,0.344 L0.997,0.344"></path></clipPath>
        </svg>
        {{ item.content }}
      </div>
    {% endfor %}
  </div>
</div>
