{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<button class="toggle-user-menu" type="button" data-toggle="user-menu">
    <svg width="22" height="21" viewBox="0 0 22 21" xmlns="http://www.w3.org/2000/svg"><g fill="#000" fill-rule="evenodd"><path d="M11 12c3.313 0 6-2.691 6-6.009A5.99 5.99 0 0 0 11 0C7.687 0 5 2.691 5 5.991S7.687 12 11 12zm0-10.433c2.43 0 4.417 1.991 4.417 4.424 0 2.433-1.987 4.424-4.417 4.424-2.43 0-4.417-1.99-4.417-4.424 0-2.433 1.987-4.424 4.417-4.424zM.777 21h20.446c.434 0 .777-.294.777-.666C22 16.849 18.695 14 14.612 14H7.387C3.323 14 0 16.834 0 20.334c0 .372.343.666.777.666zm6.61-5.668h7.225c2.963 0 5.401 1.89 5.78 4.336H1.608c.38-2.432 2.818-4.336 5.78-4.336z"/></g></svg>
</button>

{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
<div id="user-menu" class="user-menu-wrapper dropdown-pane" data-dropdown data-hover="true" data-hover-pane="true">
<ul class="user-menu">
    {% else %}
    <ul>
    {% endif %}
    {% for item in items %}
        <li{{ item.attributes }}>
            {{ link(item.title, item.url) }}
            {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
            {% endif %}
        </li>
    {% endfor %}
</ul>
</div>
    {% endif %}
{% endmacro %}
