<div class="page-header-content">
    <div class="page-header-image-wrapper">
        {{ content.field_page_image.0 }}
    </div>
    <div class="page-header-title-wrapper">
        <div class="page-header-title-content">
            {{ drupal_breadcrumb() }}
            {% if content.field_page_title[0] %}
                <h1 class="page-title">{{ content.field_page_title[0] }}</h1>
            {% else %}
                <h1 class="page-title">{{ label[0] }}</h1>
            {% endif %}
        </div>
    </div>
</div>