{#
/**
 * @file
 * Template for orders in the 'user' view mode.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
    <div class="order-placed">
        <h2>{{ order.placed.0 }}</h2>
    </div>
    <div class="order-number">
        {{ 'Ordernumber:'|t }} {{ order.order_number.0 }}
    </div>
    <div class="order-details">
        {% set order_items_count = 0 %}
        {% for key, item in order.order_items if key|first != '#' %}
            {% set order_items_count = order_items_count + 1 %}
        {% endfor %}
        {% if order_items_count == 1 %}
            {{ order_items_count }} artikel, totaal: {{ order.total_price.0 }}
        {% else %}
            {{ order_items_count }} artikels, totaal: {{ order.total_price.0 }}
        {% endif %}
    </div>
    <div class="order-more">
        <a class="button" href="/user/{{ order_entity.getCustomerId() }}/orders/{{ order.order_number.0 }}">{{ 'More details'|t }}</a>
    </div>
</div>
