{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - block.subject: Block title.
 * - content: Block content.
 * - block.module: Module that generated the block.
 * - block.delta: An ID for the block, unique within each module.
 * - block.region: The block region embedding the current block.
 * - classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable classes_array from
 *   preprocess functions. The default values can be one or more of the following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user module
 *     is responsible for handling the default user navigation block. In that case
 *     the class would be "block-user".
 * - title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable classes.
 * - block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - zebra: Same output as block_zebra but independent of any block region.
 * - block_id: Counter dependent on each block region.
 * - id: Same output as block_id but independent of any block region.
 * - is_front: Flags true when presented in the front page.
 * - logged_in: Flags true when the current user is a logged-in member.
 * - is_admin: Flags true when the current user is an administrator.
 * - block_html_id: A valid HTML ID and guaranteed unique.
 * - content_attributes: Raw HTML attributes for block content.
 * - title_attributes: Raw HTML attributes for the block title tag.
 *
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see template_process()
 */
#}
{% if block.delta != 'main' %}
{%
set classes = [
'block',
'block-' ~ configuration.provider|clean_class,
'block-' ~ plugin_id|clean_class,
]
%}
<section{{ attributes.addClass(classes) }}>
{% endif %}
    <button class="filter-button" data-toggle="categoryFilterModal"><span class="button-text">Filter</span> <svg class="icon" width="24" height="24" viewBox="0 0 512 426" xmlns="http://www.w3.org/2000/svg"><g fill="#B32537" fill-rule="nonzero"><path d="M498.723 46.435H183.171V33.958c0-18.3-14.888-33.188-33.188-33.188h-51.5c-18.3 0-33.188 14.888-33.188 33.188v12.477h-52.02C5.943 46.435 0 52.38 0 59.711c0 7.331 5.943 13.275 13.275 13.275h52.018v12.473c0 18.3 14.888 33.188 33.188 33.188h51.501c18.3 0 33.188-14.888 33.188-33.188V72.986h315.553c7.332 0 13.275-5.945 13.275-13.275.001-7.331-5.943-13.276-13.275-13.276zM156.621 85.459a6.646 6.646 0 0 1-6.638 6.638H98.482a6.646 6.646 0 0 1-6.638-6.638V33.958a6.646 6.646 0 0 1 6.638-6.638h51.501a6.646 6.646 0 0 1 6.638 6.638v51.501zM498.725 194.295h-52.019v-12.481c0-18.3-14.888-33.188-33.188-33.188h-51.501c-18.3 0-33.188 14.888-33.188 33.188v12.481H13.275C5.943 194.295 0 200.239 0 207.57s5.943 13.275 13.275 13.275h315.553v12.469c0 18.3 14.888 33.188 33.188 33.188h51.501c18.3 0 33.188-14.888 33.188-33.188v-12.469h52.019c7.332 0 13.275-5.945 13.275-13.275.001-7.331-5.942-13.275-13.274-13.275zm-78.57 39.02a6.646 6.646 0 0 1-6.638 6.638h-51.501a6.646 6.646 0 0 1-6.638-6.638v-51.501a6.646 6.646 0 0 1 6.638-6.638h51.501a6.646 6.646 0 0 1 6.638 6.638v51.501zM498.725 353.014H276.432v-12.473c0-18.3-14.888-33.188-33.188-33.188h-51.501c-18.3 0-33.188 14.888-33.188 33.188v12.473H13.275C5.943 353.014 0 358.959 0 366.289c0 7.331 5.943 13.275 13.275 13.275h145.279v12.477c0 18.3 14.888 33.188 33.188 33.188h51.501c18.3 0 33.188-14.888 33.188-33.188v-12.477h222.293c7.332 0 13.275-5.945 13.275-13.275.001-7.332-5.942-13.275-13.274-13.275zm-248.844 39.028a6.646 6.646 0 0 1-6.638 6.638h-51.501a6.646 6.646 0 0 1-6.638-6.638v-51.501a6.646 6.646 0 0 1 6.638-6.638h51.501a6.646 6.646 0 0 1 6.638 6.638v51.501z"/></g></svg></button>
    <div class="reveal facet-filter-content" id="categoryFilterModal" data-reveal data-close-on-click="true" data-animation-in="fade-in fast" data-animation-out="fade-out fast">
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2 {{ title_attributes }}>{{ label }}</h2>
        {{ content }}
    </div>

    <div class="desktop facet-filter-content">
        <div class="facet-filter-content-inner">
            <h2 {{ title_attributes }}>{{ label }}</h2>
            {{ content }}
        </div>
    </div>
{% if block.delta != 'main' %}
</section>
{% endif %}
