{#
/**
 * @file
 * Two column template for the checkout form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-checkout-form clearfix">
  <div class="layout-region layout-base-region-checkout-main">
    {{ form|without('sidebar', 'actions') }}
    <p class="extra-message">
      Waarborg cash te betalen bij afhaling
    </p>
  </div>
  <div class="layout-region layout-base-region-checkout-secondary">
    <div class="region-checkout-secondary-content">
        {{ form.sidebar }}
        {{ form.actions }}
    </div>
  </div>
</div>
