<div{{ attributes}}>
    <div class="cart-block-summary">
        <a class="cart-block-link" href="{{ url }}">
          <svg class='front-cart' width="37px" height="44px" viewBox="0 0 37 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <polygon id="path-1" points="0.773747112 0 35.7737471 0 35.7737471 44 0.773747112 44"></polygon>
            </defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3" transform="translate(0.226253, 0.000000)">
                <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-2"></g>
                <path d="M29.2101293,41.5705521 L7.33736489,41.5705521 C5.06603122,41.5705521 3.22392596,40.0588957 3.18815692,38.196319 L5.58468222,10.995501 L9.62658309,10.995501 L9.62658309,14.6846626 C9.62658309,15.3595092 10.1631186,15.8993865 10.833788,15.8993865 C11.5044574,15.8993865 12.0409929,15.3595092 12.0409929,14.6846626 L12.0409929,10.995501 L24.4975591,10.995501 L24.4975591,14.6846626 C24.4975591,15.3595092 25.0340946,15.8993865 25.704764,15.8993865 C26.3754334,15.8993865 26.9119689,15.3595092 26.9119689,14.6846626 L26.9119689,10.995501 L30.9538697,10.995501 L33.3593373,38.196319 C33.3235683,40.0588957 31.4725207,41.5705521 29.2101293,41.5705521 M18.2737471,2.42944785 C21.6629525,2.42944785 24.426021,5.16482618 24.4975591,8.55705521 L12.0499352,8.55705521 C12.1214732,5.16482618 14.8846311,2.42944785 18.2737471,2.42944785 M35.7648049,38.0343558 L33.2609725,9.66380368 C33.2073189,9.03394683 32.6797257,8.55705521 32.0627098,8.55705521 L26.9119689,8.55705521 C26.8404308,3.82413088 22.9952596,0 18.2737471,0 C13.5522346,0 9.70706341,3.82413088 9.63552534,8.55705521 L4.48478441,8.55705521 C3.85882631,8.55705521 3.34017532,9.03394683 3.28652177,9.66380368 L0.78268937,38.0343558 C0.78268937,38.0703476 0.773747112,38.1063395 0.773747112,38.1423313 C0.773747112,41.3725971 3.71575018,44 7.33736489,44 L29.2101293,44 C32.831744,44 35.7737471,41.3725971 35.7737471,38.1423313 C35.7737471,38.1063395 35.7737471,38.0703476 35.7648049,38.0343558" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
              </g>
            </g>
          </svg>
          <svg class="basic-cart" width="37px" height="44px" viewBox="0 0 37 44" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
              <polygon id="path-1" points="0.773747112 0 35.7737471 0 35.7737471 44 0.773747112 44"></polygon>
            </defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group-3" transform="translate(0.226253, 0.000000)">
                <mask id="mask-2" fill="white">
                  <use xlink:href="#path-1"></use>
                </mask>
                <g id="Clip-2"></g>
                <path d="M29.2101293,41.5705521 L7.33736489,41.5705521 C5.06603122,41.5705521 3.22392596,40.0588957 3.18815692,38.196319 L5.58468222,10.995501 L9.62658309,10.995501 L9.62658309,14.6846626 C9.62658309,15.3595092 10.1631186,15.8993865 10.833788,15.8993865 C11.5044574,15.8993865 12.0409929,15.3595092 12.0409929,14.6846626 L12.0409929,10.995501 L24.4975591,10.995501 L24.4975591,14.6846626 C24.4975591,15.3595092 25.0340946,15.8993865 25.704764,15.8993865 C26.3754334,15.8993865 26.9119689,15.3595092 26.9119689,14.6846626 L26.9119689,10.995501 L30.9538697,10.995501 L33.3593373,38.196319 C33.3235683,40.0588957 31.4725207,41.5705521 29.2101293,41.5705521 M18.2737471,2.42944785 C21.6629525,2.42944785 24.426021,5.16482618 24.4975591,8.55705521 L12.0499352,8.55705521 C12.1214732,5.16482618 14.8846311,2.42944785 18.2737471,2.42944785 M35.7648049,38.0343558 L33.2609725,9.66380368 C33.2073189,9.03394683 32.6797257,8.55705521 32.0627098,8.55705521 L26.9119689,8.55705521 C26.8404308,3.82413088 22.9952596,0 18.2737471,0 C13.5522346,0 9.70706341,3.82413088 9.63552534,8.55705521 L4.48478441,8.55705521 C3.85882631,8.55705521 3.34017532,9.03394683 3.28652177,9.66380368 L0.78268937,38.0343558 C0.78268937,38.0703476 0.773747112,38.1063395 0.773747112,38.1423313 C0.773747112,41.3725971 3.71575018,44 7.33736489,44 L29.2101293,44 C32.831744,44 35.7737471,41.3725971 35.7737471,38.1423313 C35.7737471,38.1063395 35.7737471,38.0703476 35.7648049,38.0343558" id="Fill-1" fill="#FFFFFF" mask="url(#mask-2)"></path>
              </g>
            </g>
          </svg>
          {% if count > 0 %}
            <span class="cart-block-summary-count">{{ count }}</span>
            {% endif %}
        </a>
    </div>
</div>
