{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article class="product-detail product-{{ product_entity.bundle }}">

  <div class="product-content">
    <div class="product-info">
      {{ drupal_breadcrumb() }}
      <h1>{{ product.title.0 }}</h1>
      {{ product.body }}
      <div class="product-actions">
        <div class="price">
            {{ product.variation_price[0] }} PP
        </div>
          {{ product.variations }}
      </div>
    </div>
    <div class="product-image">
      {{ product.field_images.0 }}
    </div>
  </div>

  <div class="clean-call-to-action">
    <div class="cta-inner">
      <div class="field-wrapper field field-node--field-call-to-action-paragraph field-name-field-call-to-action-paragraph field-type-entity-reference-revisions field-label-hidden">
        <div class="field-items">
          <div class="field-item">
            <div class="paragraph paragraph--type--link paragraph--view-mode--default">
              <div class="field-wrapper field field-paragraph--field-label-long field-name-field-label-long field-type-string-long field-label-hidden">
                <div class="field-items">
                  <div class="field-item">Terug naar het overzicht</div>
                </div>
              </div>
              <div class="field-wrapper text-content field field-paragraph--field-link field-name-field-link field-type-link field-label-hidden">
                <div class="field-items">
                  <div class="field-item"><a href="/webshop">Terug naar het overzicht</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-element brokkelkaas"></div>
      <div class="bg-element hesp"></div>
      <div class="bg-element brie"></div>
      <div class="bg-element vijg"></div>
    </div>
  </div>
</article>
