{#
/**
 * @file
 * Order template used on the admin order page.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - order: The rendered order fields.
 *   Use 'order' to print them all, or print a subset such as
 *   'order.order_number'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ order|without('order_number') }}
 *   @endcode
 * - order_entity: The order entity.
 *
 * @ingroup themeable
 */
#}

{{ attach_library('commerce_order/form') }}
{% set order_state = order_entity.getState.getLabel %}

<div class="layout-order-form clearfix">
  <div class="layout-region layout-region-order-main">

    <fieldset class="no-title">
      <h2>{% trans %}Order details{% endtrans %}</h2>
        {{ order.order_items }}
        {{ order.total_price }}
    </fieldset>

    {% if order.activity %}
      <fieldset class="no-title">
        <h2>{% trans %}Order activity{% endtrans %}</h2>
          {{ order.activity }}
      </fieldset>
    {% endif %}

  </div>
  <div class="layout-region layout-region-order-secondary">

    <fieldset class="order-state">
      <h2>{{ order_state }}</h2>
      {% for key in ['completed', 'placed', 'changed'] %}
          {% if order[key] %}
            <div class="form-item">
                {{ order[key] }}
            </div>
          {% endif %}
      {% endfor %}
    </fieldset>

    <fieldset class="with-containers no-title order-customer-details">
      <div class="fieldset-container">
        <h2>{{ 'Pickup information'|t }}</h2>
        <div class="details-wrapper">
            Tussen {{ order.field_pickup_from.0 }} en {{ order.field_pickup_to.0 }}
        </div>
      </div>
      <div class="fieldset-container">
        <h2>{{ 'Customer Information'|t }}</h2>
        <div class="details-wrapper">
            {% for key in ['mail', 'ip_address'] %}
                {% if order[key] %}
                  <div class="form-item">
                      {{ order[key] }}
                  </div>
                {% endif %}
            {% endfor %}
        </div>
      </div>
    {% if order.billing_information %}
      <div class="fieldset-container">
        <h3>{{ 'Billing information'|t }}</h3>
        <div class="details-wrapper">
            {{ order.billing_information }}
        </div>
      </div>
    {% endif %}
    {% if order.shipping_information %}
      <div class="fieldset-container">
        <h3>{{ 'Shipping information'|t }}</h3>
        <div class="details-wrapper">
            {{ order.shipping_information }}
        </div>
      </div>
    {% endif %}
    {% if order_entity.getState.getTransitions is not empty %}
      <div class="fieldset-container order-actions">
          {{ order.state }}
        {% if order_entity.isLocked() %}
          <a href="/admin/commerce/orders/{{ order_entity.id }}/unlock?destination=/admin/commerce/orders/{{ order_entity.id }}" class="button">Ontgrendelen</a>
        {% endif %}
      </div>
    {% endif %}
    </fieldset>
  </div>
</div>
