{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - content_attributes: HTML attributes for the content.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% set field_name_class = field_name|clean_class %}
{%
set classes = [
'field',
'field-' ~ entity_type|clean_class ~ '--' ~ field_name_class,
'field-name-' ~ field_name_class,
'field-type-' ~ field_type|clean_class,
'field-label-' ~ label_display,
label_display == 'inline' ? 'clearfix',
'swiper-container',
]
%}
{%
set title_classes = [
'field-label',
label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
<div{{ attributes.addClass(classes) }}>
    <div{{ content_attributes.addClass('swiper-wrapper') }}>
        {% for item in items %}
            <div{{ item.attributes.addClass('swiper-slide') }}>{{ item.content }}</div>
        {% endfor %}
    </div>
    <div class="carousel-buttons">
        <div class="carousel-button-prev">
            <svg width="13" height="11" viewBox="0 0 13 11" xmlns="http://www.w3.org/2000/svg"><path d="M.191 5.03L4.953.195a.646.646 0 0 1 .924 0 .67.67 0 0 1 0 .94L2.231 4.835h10.115c.362 0 .654.297.654.664a.659.659 0 0 1-.654.664H2.231l3.646 3.703a.67.67 0 0 1 0 .939.646.646 0 0 1-.924 0L.191 5.969a.67.67 0 0 1 0-.938" fill="#FFF" fill-rule="evenodd"/></svg>
        </div>
        <div class="carousel-button-next">
            <svg width="13" height="11" viewBox="0 0 13 11" xmlns="http://www.w3.org/2000/svg"><path d="M12.809 5.03L8.047.195a.646.646 0 0 0-.924 0 .67.67 0 0 0 0 .94l3.646 3.702H.654A.658.658 0 0 0 0 5.5c0 .367.292.664.654.664h10.115L7.123 9.867a.67.67 0 0 0 0 .939.646.646 0 0 0 .924 0l4.762-4.837a.67.67 0 0 0 0-.938" fill="#FFF" fill-rule="evenodd"/></svg>
        </div>
    </div>
</div>