{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - billing_information: The rendered billing information.
 * - shipping_information: The rendered shipping information.
 * - payment_method: The rendered payment method.
 * - totals: An array of order totals values with the following keys:
 *   - subtotal: The order subtotal price.
 *   - adjustments: An array of adjustment totals:
 *     - type: The adjustment type.
 *     - label: The adjustment label.
 *     - total: The adjustment total price.
 *     - weight: The adjustment weight, taken from the adjustment type.
 *   - total: The order total price.
 *
 * @ingroup themeable
 */
#}
<style>
  .address{
    margin-bottom:0;
  }
  .country{
    display: none;
  }
</style>
<table style="margin: 15px auto 0 auto; max-width: 768px; font-family: arial,sans-serif">
  <tbody>
  <tr>
    <td>
      <table style="margin-left: auto; margin-right: auto; max-width: 768px; text-align: center; padding-bottom: 25px;">
        <tbody>
        <tr>
          <td>
            <a href="{{ url('<front>') }}" style="color: #0e69be; text-decoration: none; font-weight: bold; margin-top: 15px;">
              <img src="{{ url('<front>') }}/themes/base/images/mail-logo.png" width="150" height="109" alt="De Smaak Van Kaas">
            </a>
          </td>
        </tr>
        </tbody>
      </table>
      <table style="text-align: center; min-width: 450px; margin: 5px auto 0 auto; border: 1px solid #cccccc; border-radius: 5px; padding: 40px 30px 30px 30px;">
        <tbody>
        <tr>
          <td style="font-size: 30px; padding-bottom: 30px">Order bevestiging</td>
        </tr>
        <tr>
          <td style="font-weight: bold; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
            Bestellingsnummer {{ order_entity.getOrderNumber }}
          </td>
        </tr>
        <tr>
          <td>
              {% block order_items %}
                <table style="padding-top: 15px; padding-bottom:15px; width: 100%">
                  <tbody style="text-align: left;">
                  {% for order_item in order_entity.getItems %}
                    <tr>
                      <td>
                          {{ order_item.getQuantity|number_format }} x
                      </td>
                      <td>
                  <span>
                      <span>{{ order_item.label }}</span>
                      {% if order_item.field_brood.value %}
                        <br><span style="font-style: italic">+ Extra brood ({{ order_item.field_brood.value }} PP) </span>
                      {% endif %}
                  </span>
                        <span style="float: right;">{{ order_item.getTotalPrice|commerce_euro_price_format }}</span>
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              {% endblock %}
          </td>
        </tr>
        <tr>
          <td>
              {% if (billing_information or shipping_information) %}
                <table style="width: 100%; padding-top:15px; padding-bottom: 15px; text-align: left; border-top: 1px solid #cccccc; border-bottom: 1px solid #cccccc">
                  <tbody>
                  <tr>
                      {% if shipping_information %}
                        <td style="padding-top: 5px; font-weight: bold;">{{ 'Shipping Information'|t }}</td>
                      {% endif %}
                      {% if billing_information %}
                        <td style="padding-top: 5px; font-weight: bold;">Uw gegevens:</td>
                      {% endif %}
                  </tr>
                  <tr>
                      {% if shipping_information %}
                        <td>
                            {% block shipping_information %}
                                {{ shipping_information }}
                            {% endblock %}
                        </td>
                      {% endif %}
                      {% if billing_information %}
                        <td>
                            {% block billing_information %}
                                {{ billing_information }}
                            {% endblock %}
                        </td>
                      {% endif %}
                  </tr>
                  </tbody>
                </table>
              {% endif %}
          </td>
        </tr>
        <tr>
          <td style="font-weight: bold; padding-top:15px; padding-bottom: 15px; text-align: left; border-bottom: 1px solid #cccccc">
            <span>{{ pickup_information }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <p style="font-size: 24px; padding-top: 15px; padding-bottom: 5px;">
              Order totaal: {{ order_entity.getTotalPrice|commerce_euro_price_format }}
            </p>
          </td>
        </tr>
        <tr>
          <td>
              {% block additional_information %}
                  {{ 'Bedankt voor uw bestelling!'|t }}
              {% endblock %}
          </td>
        </tr>
        <tr>
          <td>
            Afhankelijk van uw bestelling wordt al dan niet een waarborg aangerekend. Deze wordt bij voorkeur contant betaald bij de ophaling van uw bestelling.
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
