{% if originalnumber != number %}
    <span class="old-price" style="text-decoration: line-through;">€ {{originalnumber|number_format(2, ',', '.')}}</span> <span class="new-price">€ {{number|number_format(2, ',', '.')}}</span>
{% else %}
    € {{number|number_format(2, ',', '.')}}
{% endif %}